* {
padding: 0;
    margin: 0;}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px; 
    background: #F1F1F1;}
#wrapper { 
    margin: 0 auto;
    width: 922px;
}
#header {
    color : #050101 ;
    width : 900px ;
    float : left ;
    padding : 10px ;
    margin : 10px 0px 5px 0px ;
    position : relative ;
}
#leftcolumn {
    color : #333 ;
    border : 1px solid #ccc ;
    background : #9eadcc ;
    margin : 0px 5px 5px 0px ;
    padding : 10px ;
    height : 350px ;
    width : 195px ;
    float : left ;
}
#content {
    float : left ;
    color : #333 ;
    margin : 0px 5px 5px 0px ;
    padding : 10px ;
    width : 675px ;
    display : inline ;
    position : relative ;}
#rightcolumn {
color: #333;
margin: 0px 0px 5px 0px;
padding: 10px;
min-height: 350px;
width: 200px;
float: left;
position: relative;
top: auto;
left: auto;
}

#rightcolumn h1 {
color: #5D5D5D;
font-size: 10px;
font-weight: 500;
letter-spacing: 1.1px;
line-height: 25px;
text-transform: uppercase;
}

#footer {
width: 900px;
clear: both;
color: #333;
border-radius: 10px;
margin: 0px 0px 30px;
padding: 10px;
position: relative;
float: left;
background-color: #F1F1F1;}

#footergrid h1 {
margin-bottom: 15px;
border-bottom: 2px solid #C2C2C2;
padding: 10px 0 0 20px;
font-size: 25px;
font-weight: normal;
color: #57BCFF;
line-height: 40px;
}

#footergrid span {
font-family: Arial, Helvetica, sans;
line-height: 18px;
letter-spacing: 1.1px;
font-size: 13px;
color: 
#555;
text-align: left;
}

#footergrid .parsiblock {
padding: 0 5px;
}
.posts_container .publicationGMT {
box-shadow: inset -1px -1px 1px white, inset 1px 1px 1px white;
display: inline-block;
vertical-align: top;
width: 60px;
font-size: 20px;
text-align: center;
border-radius: 5px;
border: 1px solid #CCC;
margin-right: 15px;
padding: 2px;
text-transform: capitalize;
background: #F2F2F2;
color: #999;}

.posts_container .title {
    margin: 0px 0px 15px;
    display: inline-block;
    width: 550px;}

.posts_container .title a {
    text-decoration: none;
    color: rgb(0, 153, 255);
    font-size: 25px;
    line-height: 30px;}

.posts_container .author {
    display: inline-block;
    margin: 0px 0px 10px 85px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    text-transform: capitalize;
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(242, 242, 242);}

.posts_container .content p {
color: #383838;
font-size: 15px;
text-indent: 20px;
line-height: 25px;
padding: 0px 0px 5px 70px;}

#mycategories {margin-top:15px}

#mycategories   a {
    text-decoration:none;
    color: #259BDB;
    font-size: 15px;}

#mycategories  li {
    list-style-position: inside;
    list-style-type: square;
    padding-left:10px;}

#container {
	margin : 7px auto ;
	width : 950px ;
	background : #fff ;
	position : relative ;
}

#mymenu ul.parsimenu.horizontal {
    background:#333;
    padding-left: 20px;
}

mymenu {
top: -4px;
left: 0px;
position: relative;}

#header_html h1 {
    position : relative ;
    margin : 0 0 10px ;
    color : #777777 ;
}

#header_html h3 {
    position : relative ;
    margin : 0 0 20px ;
    font-size: 15px;
    color : #999 ;
}

#tagstitle {
    position : relative ;
    margin : 15px 0 0 ;
}

.blog_tags ul {list-style:none}
.blog_tags a {
text-decoration: none;
color: #259BDB;
font-size: 15px;
padding: 0 2px;
word-wrap: break-word; 
}

#mymenu li {
display:inline-block;}

#mymenu li a {
padding: 10px;
font-weight: bold;
display: block;
color:#fff;
text-decoration:none;
font-size: 15px;}

#mymenu li a:hover {
background-color: #F8F9FB;
color: #5d5d5d}

#myhomeimg {
	border : 1px solid #444 ;
}

.recentposts li {
list-style-position: inside;
list-style-type: square;
padding-left: 10px;
}
.recentposts a {
text-decoration: none;
color: #259BDB;
font-size: 15px;
overflow: hidden;
}

/* Pagination */
.pagination a {
    display:block;width: 20px;height: 15px;margin:5px;float:left;
    background-image: -moz-linear-gradient(top,white,#EFEFEF);
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=white,endColorStr=#EFEFEF);
    border-radius: 3px;
    background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
    border: 1px solid #CCC;text-align:center;color: black;padding: 5px;vertical-align: middle;text-decoration:none;
}
.pagination a.active {
    background:#F3F3F3 -moz-linear-gradient(top,#EBEBEB,#CCC);
    background:#F3F3F3 -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(#CCC));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#EBEBEB,endColorStr=#CCC);
}

.pagination a:hover {
    background:#F3F3F3 -moz-linear-gradient(top,#EBEBEB,white);
    background:#F3F3F3 -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(white));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#EBEBEB,endColorStr=white);
    -moz-box-shadow: 0 0 3px #999;-webkit-box-shadow: 0 0 3px #999;box-shadow: 0 0 3px #999;
}

#mycalendar .calendar {position: relative;text-align:center}
#mycalendar .day {
float:left;
width:28px;
height:28px;
line-height:28px;}

#mycalendar .day a {
display:block;
width:100%;
height:100%}

#mycalendar .day.thisMonth {
background:#f9f9f9}

#mycalendar .day.hasposts {
background-color: #f3f3f3;}

#mycalendar .day.hasposts a {
text-decoration:none;
color:#259BDB;}

#mycalendar .month {
color:#484848;
line-height:28px}

#mycalendar .calendarNav {
position: absolute;
top: 0;right: 10px;}
#mycalendar .calendarNav a {
position: relative;
color:#484848;
line-height:28px;
text-decoration:none}

#mycalendar .calendarNav a span {
display:none}

#mycalendar .monthTitle {font-weight:bold;color:#484848;line-height:28px}

#mycalendar .weekTitle {font-weight:bold;}

#cloudtags {margin-top: 15px}
#cloudtags .xsmall {font-size:x-small}
#cloudtags .small {font-size:small}
#cloudtags .medium {font-size:medium}
#cloudtags .large {font-size:large}
#cloudtags .xlarge {font-size:x-large}

#recentpostscol {margin-top: 15px}

.parsiTitle {color: #5D5D5D;font-size: 10px;font-weight: 500;letter-spacing: 1.1px;line-height: 25px;text-transform: uppercase;}

#about {
	width : 280px ;
	height : 226px ;
}

#credit {
	width : 312px ;
	height : 226px ;
}
#mycontact {width: 275px;}
#slogan {}
#slogan h3 {position: relative;
margin: 0 0 10px;
color: #777777;}