/* Autocomplete list */
.ui-autocomplete{border: 1px solid #CCC;position:absolute;max-height: 180px;overflow-y: auto;overflow-x: hidden;z-index:1005;}
.ui-autocomplete li.ui-menu-item{width:230px;background: #fff;font-size: 15px;line-height: 17px;font-size: 11px;}
.ui-autocomplete li.ui-menu-item:hover{background: #ccc;}
.ui-autocomplete li.ui-menu-item .ui-state-hover{background: #ccc;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {background: #ccc;border:0;}
.ui-autocomplete li.ui-menu-item a{padding-left:5px;cursor:pointer;display:block;}