/* {Menu container} */
:host {
	background : #f5f5f5 ;
}

/* {Menu items} */
li {
	float : left ;
	position : relative ;
	list-style : none ;
}

/* {Menu links items} */
a {
	color : #444 ;
	text-decoration : none ;
	display : block ;
	padding : 8px 20px ;
}

/* {Menu links items hover} */
a:hover {
	background : #2DC1EE ;
	color: #f5f5f5;
}

/* {Menu active items} */
.current a {
	background : #eee ;
}

/* {Menu active items hover} */
.current a:hover {
	background : #2DC1EE ;
}

/* {Sub menu} */
ul {
	z-index : 2 ;
	display : none ;
	margin : 0 ;
	padding : 0 ;
	min-width : 100px ;
	position : absolute ;
	left : 0 ;
}

/* {Second level items} */
ul li{
	float : none ;
}

/* {Second level links items} */
ul li a{
	background : #eee ;
}

/* {Second level links items hover} */
ul li a:hover {
	background : #2DC1EE ;
}

li:hover > ul {
	display : block ;
}
/* {First level parent indicator} */
.parent > a::after {
	content: ' \25BE';
}
/* {Second level parent indicator} */
 ul .parent > a::after {
	content: ' \25B8';
}
/* {Third level menu} */
ul ul {
	z-index : 2 ;
	left : 100% ;
	top : 0 ;
}

.vertical ul {
	left : 100% ;
	top : 0 ;
}

.vertical li {
	float : none ;
}