/* CSS Picker 3D KEEP IN FIRST */
.threed *{}

body{overflow: hidden;} 

/*traduction*/
.traduction{color: inherit !important;font: inherit !important;border-bottom:1px orange dotted !important;border-radius: inherit !important;margin: 0 !important;padding: 0 !important;line-height: inherit !important;}
.traduction:hover{background: orange !important;cursor:help;border: 1px dotted #DDD;}

/* Marker drag n drop blocks */
#container #dropInPage{position:relative;z-index:999995;height: 0px;pointer-events:none}
#container #dropInPage #dropInPageChild{position: absolute;border-radius: 3px;border: 1px solid #96005b;background: #c8007a;width: 100%;height: 8px;top: -4px;}

.dropInContainer{padding: 10px 0px;}
.dropInContainerChild{padding: 10px 10px;position: relative;border: 1px dashed #276D7F;text-align: center;margin: 0px 10px;text-shadow: 1px 1px 0px white;
font-size: 15px;color: #276D7F;letter-spacing: 1.5px;background: #EEE;}

/* Outline block */
.selection-block,.parsimonyDND {outline: rgb(78, 219, 255) solid 2px;}
.selection-container{outline:1px solid #007BC8;}

/* editinplace */
.wysiwyg.activeEdit:hover{outline:1px orange solid;}

/* CSS Picker */
.cssPicker{outline : 2px solid #ff00fb}

/* Selection */
html ::selection {background: #00D5FF;color: #ffffff;}
html ::-moz-selection {background: #00D5FF;color: #ffffff;}

/* Prevent loose focus when user in iframe */
iframe{pointer-events:none}
