* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Shorhand styles for admin */
.floatleft{float:left}
.floatright{float:right}
.clearboth{clear:both;}
.inline{display:inline}
.inline-block{display:inline-block;vertical-align:top}
.bold{font-weight: bold;}
.none{display:none}
.align_center{text-align:center}
.align_left{text-align:left}
.align_right{text-align:right}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}  

body{background:url(admin/img/carbon_fibre.png);overflow-x: hidden;}
#admintoolbar{font-family: arial, sans-serif;font-size: 13px;height: 100%;width: 100%;text-align: center;
	      -moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}
ul{list-style: none;padding:0;margin:0;}
/*############## SideBars ################# */

.sidebar{width: 40px !important;background: #272727;height: 100%;position:fixed;padding-top: 35px;z-index: 99;
         transition: left 0.1s, right 0.1s;transform-origin: 0 0;}

/* Sidebars Tabs */

/* Main Tab */
.mainTab{color: whiteSmoke;cursor: pointer;height:40px}
.mainTab:hover,.mainTab.active{color: whiteSmoke;border-bottom: 0;}
.mainTab:hover {position: relative;background: -webkit-linear-gradient(top, #222, #333);background: linear-gradient(top, #222, #333);}
.mainTab.active {background:#f9f9f9;}
.mainTab.active:hover {position: static;}
.mainTab .parsiblock{display:none}
.mainTab.active .parsiblock{display:block}

.roundBTN{width: 32px;height: 32px;display: block;
cursor: pointer;
border-radius: 4px;
background-color: #242424;
box-shadow: inset 0 1px 0 #3C3C3C;
border: 1px solid #040404;
box-shadow: 1px 1px 0 #363738;}
.roundBTN.active,.roundBTN:hover{background-color: rgb(45, 193, 238);box-shadow: none;border: 1px solid rgb(45, 193, 238);}
#left_sidebar .roundBTN{margin: 10px 3px;}
#right_sidebar .roundBTN{margin: 10px 4px;}

/* Sub Tab */
.subTabsContainer{height: 42px;padding: 9px;}
.ssTab, .ssTabCSS{position: relative;line-height: 18px;color:#333;border-bottom: 1px solid rgb(211, 213, 219);
box-shadow: 0px 1px 0 rgb(255, 255, 255);
float: left;width: 50%;padding: 3px;cursor: pointer;text-align: center;}
.ssTab.active{background: rgb(236, 236, 236);}
#admintoolbar ul.models,#admintoolbar ul.pages{padding: 5px;background: #f9f9f9;}
#admin{text-align: left;}

/* Preview frame */
#parsiframe{background-color: white;margin-top: 35px !important;width: 850px;height: 650px;
	    border: 40px solid #0E0D0D;border-radius: 0 0 15px 15px;border-top: 0;box-shadow: 0 0 0 1px #999;
	    box-sizing: content-box;-moz-box-sizing: content-box;margin-left: -40px;
}
/* Title Tab */
.titleTab{border-top: 1px solid white;border-bottom: 1px solid #D3D5DB;font-size: 15px;height: 28px;vertical-align: top;line-height: 25px;
color: rgb(73, 71, 71);letter-spacing: 1.5px;cursor: pointer;clear:both;position: relative;}
.titleTab:first-child{border-top:0}
.sublist{position:relative;line-height:22px;clear:both;font-size: 12px;color: #444;text-transform: capitalize;cursor:pointer}
.sublist:first-child,.sublist.selected:first-child{border-top: 1px solid transparent;}
.sublist:last-child,.sublist.selected:last-child{border-bottom: 1px solid transparent;}
.sublist:hover,.sublist.selected{background-color: #ececec;border-radius: 2px;}
.sublist span.ui-icon-pencil{display: none;right: 5px;top: 2px;position: absolute;border: #666 solid 1px;border-radius: 5px;cursor: pointer;}
.sublist:hover span.ui-icon-pencil{display: block}
.sublist .ui-icon-document{position:relative;top:2px}
.modelSubList{background-image: url(admin/img/db_small.png);padding-left: 25px;background-repeat: no-repeat;background-position: 3px 3px;}

.moduleParts{border-bottom: 1px solid rgb(233, 233, 233);border-top: 1px solid white;}
.moduleParts ul{max-height: 300px;overflow-y: auto}
.creationMode .gotoDBDesigner{display:block}
.gotopage{padding-left: 15px}
.gotopage:before{content: "";display: block;width: 16px;height: 16px;background: url(admin/img/icons.png) -32px -95px;position: absolute;left:0}
.gotoDBDesigner{display: none;padding-left: 25px;}
.gotoDBDesigner:before{content: "";display: block;width: 16px;height: 16px;background: url(admin/img/icons.png) -30px -78px;position: absolute;left:0}

/* Sub Sidebars */
.subSidebar{width: 20px;position: absolute;top: 0px;box-shadow: 0px 2px 5px #444;
            background-image: linear-gradient(right,#E5E9EF,#FEFEFE);
            background-image: -webkit-linear-gradient(right,#E5E9EF,#FEFEFE);}
#right_sidebar .subSidebar{left: -21px;}
#left_sidebar .subSidebar{right: -20px;}

.subSidebarOnglet{border: 1px solid #999;height: 20px;width: 21px;text-align: center;color: #666;font-weight: bold;padding: 1px;cursor: pointer;border-bottom: 0;}
#panelblocks .sprite{margin: 5px 3px 0px 7px;}
.contenttab span.panelblocks{background:url(admin/img/bloc.png) no-repeat 2px;}
.contenttab{position: relative;height: 100%;}

/* Sidebar left */
#left_sidebar{left:-34px;box-shadow: inset -2px 0px 3px #000;background-image: -webkit-linear-gradient(left, #333333, #222222);}

/* Sidebar right */
#right_sidebar{right:-34px;box-shadow: inset 2px 0px 3px #000;background-image: -webkit-linear-gradient(right, #333333, #222222);}
#right_sidebar .titleTab{line-height: 20px;padding-left: 15px;}

/* Top toolbar */
#toolbar{position: fixed;min-width: 900px;width:100%;z-index: 9999;height:35px;color: white;
         text-decoration: none; font-size: 12px;background-color: #272727;background-image: -webkit-linear-gradient(top, #333333, #222222);
         box-shadow: 0px 1px 0px rgb(41, 41, 41);border-bottom: 1px solid rgb(17, 17, 17);}
.flexToolbar{width: 100%;
display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;
display: -moz-box;-moz-box-orient: horizontal;-moz-box-pack: center;-moz-box-align: center;
display: box;box-orient: horizontal;box-pack: center;box-align: center;}

#infodev{display:none;}
#infodev div{margin:10px 0;}

/* Edit mode bottom toolbar */
#toolbarEditMode{position: fixed;bottom: 0;left: 0;bottom: 0;width: 100%;background: #333;display:none;z-index: 99999999;height:0; transition: all 0.5s}
#toolbarEditMode.open{padding: 7px;height:38px}
.toolbarEditModeCommands{position: relative;top: 3px;margin: 0 7px;}

/* Sidebar Pinner */
#left_sidebar.pin,#left_sidebar:hover {left:0px;}
#right_sidebar.pin,#right_sidebar:hover {right:0px;}
.pinner{color:#fff;position: absolute;bottom:10px;left: 8px;width:25px;height:25px;
    opacity: 0.3;cursor:pointer;background:url(admin/img/pinOFF.png) no-repeat center center}
.pinner:hover{opacity: 1}
.pin .pinner{opacity: 0.7;background:url(admin/img/pinON.png) no-repeat center center}
#right_sidebar.pin .pinner{opacity: 0.7;background:url(admin/img/pinONright.png) no-repeat center center}

/* Sidebar icons */
.icons {position: relative;width: 40px;height: 40px;line-height: 40px;z-index: 999;}
.sidebar .active .icons {background-color: rgb(45, 193, 238);box-shadow: 0 -1px 0 #000, 0 1px 0 #000;}

.sidebar  .active .icons:after {left: 65%;border: solid transparent;content: " ";height: 0;
width: 0;position: absolute;pointer-events: none;}
.sidebar  .active .icons:after {border-color: rgba(136, 183, 213, 0);
border-width: 7px;top: 50%;margin-top: -7px;}
#left_sidebar .active .icons:after {right: 0;}
#left_sidebar .active .icons:after {border-right-color: #f9f9f9;border-width: 7px;top: 50%;margin-top: -7px;}
#right_sidebar .active .icons:after {left: 0;}
#right_sidebar .active .icons:after {border-left-color: #f9f9f9;border-width: 7px;top: 50%;margin-top: -7px;}

.icons img{padding: 14px 10px;}
.icons:hover{z-index: 999999;}

/* Sidebar content */
.sidebar .content {z-index: 99;position: absolute;top: 0;display:none;}
.sidebar .mainTab:hover .content{display:block;z-index:9999}
.sidebar .active .content{display:block;min-width: 200px;background: #f9f9f9;cursor: auto;}
#right_sidebar .active .content,#right_sidebar .mainTab:hover .content{right:40px;box-shadow: -1px 1px 2px #444}
#left_sidebar .active .content,#left_sidebar .mainTab:hover .content{left:40px;box-shadow: 1px 1px 2px #444}

 /* Sidebar headers */
.sidebar .active .parsiblock{display:block !important}
.sidebar h2{text-align: center;height:40px;margin:0;padding:0 20px;line-height: 40px;
	    background: -webkit-linear-gradient(top, #222222, #333333);
	    background: linear-gradient(to bottom, #222222, #333333); 
	    font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	    font-weight: normal;font-size: 14px;text-transform: capitalize;
}
.sidebar .mainTab.active:hover h2,.sidebar .mainTab.active h2{background: transparent;font-weight: normal;font-size: 20px;height:41px;color:#777;
border-bottom: 2px solid rgb(45, 193, 238);padding: 0;margin: 0 10px 11px 11px;}


/* Sidebars parts */

/* Sidebar right parts */

/* Tree */
#treelegend{position: absolute;right: 5px;top: 50px;color: #555; font-weight: bold;padding-right: 10px;z-index: 999999;}
#treelegend2 fieldset{border: 1px solid #CCC;color: #555 !important; border-radius: 3px;margin: 10px 3px 0 3px;padding: 5px;background: #fafafa;}
#treelegend2 fieldset span{line-height: 20px;}
#tree{padding : 5px 0 15px;color:#444;font-weight: normal;text-transform: capitalize;
font-family: arial, sans-serif;letter-spacing: 1.1px;}
#tree .tree_selector{position:relative;clear:both;line-height: 19px;font-size: 13px;display: block;}
#tree ul ,#tree li {margin-left:15px;cursor:pointer;font-size: 13px;text-transform: capitalize;border-left: 1px dotted #999;line-height: 20px;  }
#tree span.move_block{cursor:move;}
#tree li.tree_selector{border-top: 1px solid #999;border-bottom: 1px solid #555;border-right: 1px solid #888;text-align: left;padding-bottom: 1px;cursor: pointer;}
#config_tree_selector{margin-right:5px;height: 16px;}
#treedom_container>#config_tree_selector:first-child .move_block{display:none}
#dropInTree{position:relative;top:-1px;height:3px;width:100%;background: #276d7f;pointer-events:none}



/* Tree icons */
.parsicontainer{background: url(admin/img/parsicontainer.png) no-repeat 3px 1px !important;padding-left: 18px;margin-left: 0 !important;}
#treedom_content{padding: 3px 0 5px 25px;margin-top: 2px; border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;background: #fdfdfd url(admin/img/parsipage.png) no-repeat 3px 4px !important;margin-left: 0 !important;border: 1px solid #CCC !important;}
#treedom_content>:first-child{margin-top: 7px;}
#treedom_content>#config_tree_selector:first-child{margin-top: 0px;margin-bottom: 6px;}
#treedom_content > .arrow_tree:first-child{background: url(admin/img/arrow.png) no-repeat -8px 0px;}

#tree li.tree_selector{border-top: 0;border-bottom: 0;border-right: 0}
#paneltree fieldset .parsimonyblock{background: url(admin/img/parsiblock.png) no-repeat 12px -1px, url(admin/img/hier.png) no-repeat 0px 1px !important;}
.parsimonyblock{background: url(admin/img/parsiblock.png) no-repeat 12px 1px, url(admin/img/hier.png) no-repeat 0px 1px !important;padding-left: 32px;}
.parsipage{background: url(admin/img/parsipage.png) no-repeat 10px /*, url(admin/img/backcontenttree.png) repeat-x !important*/;padding-left: 30px;}
#tree ul ,#tree li {margin-left:0;border-left:0}
#treedom_container{border-left:0 !important}
.arrow_tree{background:url(admin/img/arrow.png) no-repeat -8px 5px;float:left;display:block;width:16px;height:16px;cursor:pointer}
.arrow_tree.down{background:url(admin/img/arrow.png) no-repeat 5px 5px} 
/*.currentDOM:first-child{font-weight:bold;background-color: #999 !important}*/

/* Panel CSS */         	  
#savemycss,#reinitcss{vertical-align: bottom;}
#savemycss{border: 0;border-radius: 5px 0 0 5px;padding: 0px 12px 3px 3px;width: 30px;height: 30px;}
#reinitcss{border: 0;border-left: 1px #FCFCFC solid;position: relative;left: -1px;padding: 0px 12px 3px 3px;width: 30px;height: 30px;}
#toolChanges{display:none;margin: 0 10px 10px;background:#EBEBEB;border-radius:5px;border: 1px solid #CCC;color: #919191;;font-size: 11px;}
#current_selector_update{letter-spacing: 1px;color: #555;font-size: 13px !important;border: 1px solid #C1C1C1 !important;width:100% !important;border-radius:initial !important;display:inline-block !important;position:relative !important;height: 30px !important;padding-left: 25px !important;background: #FFF !important;}
#panelcss{color: #444;line-height:25px}
#panelcss input[type='text']{border: 1px solid rgb(219, 219, 219);width: 38px;padding: 2px;border-radius: 2px;font-size: 11px;height: 17px;text-shadow: none;}
#panelcss label{display: inline-block;min-width: 50px;}
#panelcss select{width: 60px;height: 17px;border: 1px solid rgb(219, 219, 219);background-color: rgb(254, 254, 254);}
#panelcss .panelcss_tab{padding: 8px;width: 230px;padding-top: 10px;background: #F9F9F9;}
#changecsscode{font-size: 11px;font-family: arial, sans-serif;}
#panelcss_tab_background label{width: 100px;}
.adminbtnrightslide{color: #333;font-weight: bold;text-align: center;cursor:pointer;padding: 4px;                
background: -webkit-linear-gradient(top, white, #F2F2F2);
background: linear-gradient(top, white, #F2F2F2);}

/* 3d Panel */
#threed{padding:7px;background:whiteSmoke;color: #777;}
#threed input{width:90%}

/* Panel CSS menu */
#css_menu{height: 45px;} 
#css_menu .cssTab {float: left;cursor: pointer;background-color: #f2f2f2;width: 20%;border-right: 1px solid #fcfcfc;border-left: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;height: 45px;}
#css_menu .cssTab:last-child {border-right:0}
#css_menu .cssTab.active,#css_menu .cssTab:hover {background-color: #F9F9F9;color: #444;border-left: 1px solid #F9F9F9;border-right: 1px solid #F9F9F9;border-bottom: 1px solid #F9F9F9;}
.cssTab[rel="panelcss_tab_general"]{background-image: url('admin/img/cssicons.png');background-position: -5px -10px;background-repeat: no-repeat ;}
.cssTab[rel="panelcss_tab_border"]{background-image: url('admin/img/cssicons.png');background-position: -57px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_background"]{background-image: url('admin/img/cssicons.png');background-position: -110px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_type"]{background-image: url('admin/img/cssicons.png');background-position: -160px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_lists"]{background-image: url('admin/img/cssicons.png');background-position: -200px -10px;background-repeat: no-repeat;}
.cssTab:after{content: attr(data-title);position: absolute;top: 32px;font-size: 10px;text-align: center;width: 44px;max-width: 46px;line-height: 10px;height: 11px;}
.panelcss_tab.hiddenTab{display: none;}
#nbChanges{padding-left: 30px;color: #444;cursor:pointer}
#listchanges{position: relative;background: #FAFAFA;border-radius: 0 0 5px 5px;line-height: 15px;z-index: 9;}
#listchanges .selector{padding:0 5px;cursor: help;}
#panelcss input[placeholder]{border:0;background: transparent}
#panelcss input[placeholder]:focus{border: 1px solid rgb(193, 193, 193);background: rgb(255, 255, 255);}
/* When CSS panel is in code OR form mode */
.CSSCode #css_panel, .CSSForm #css_panel{display:block}
#panelcss.CSSForm #switchtovisuel,#panelcss.CSSCode #switchtocode{background: rgb(236, 236, 236);}

/* Shadow widget */
.panelPointer{width:40px;height:40px;background: rgb(241, 241, 241);position: relative;border: 1px solid rgb(204, 204, 204);}
.panelPointer .cross1{position: absolute;width:20px;height:20px;border-bottom:1px solid #ccc;border-right:1px solid #ccc}
.panelPointer .cross2{position: absolute;top:19px;left:19px;width:20px;height:20px;border-top:1px solid #ccc;border-left:1px solid #ccc}
.panelPointer .pointer{width: 8px;height: 8px;background-color: rgb(68, 68, 68);position: absolute;top: 15px;left: 15px;cursor: move;border-radius: 3px;}

/* When CSS panel is in code mode */
.CSSCode #changecsscode{display:block;background: #DDD;color: #164;}
.CSSCode #changecssform{display:none}
#changecsscode .selectorcss{color: #333;background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F9F9F9),color-stop(100%, #E3E4E6));background-image: -moz-linear-gradient(top, #F9F9F9, #E3E4E6);background-image: linear-gradient(top, #F9F9F9, #E3E4E6);position: relative;padding-left: 7px;line-height: 16px;}
#changecsscode .selectorcss small{color:#999}
#changecsscode .selectorTitle{margin-right: 39px;}
#changecsscode .gotoform{background-image: -webkit-linear-gradient(bottom,#818181,#A4A4A4);background-image: -moz-linear-gradient(bottom,#818181,#A4A4A4);border-bottom: 1px solid #7F7F7F;position: absolute;right: 0;top: 0;cursor: pointer;padding: 0 4px;border-radius: 0 0 0 3px;font-size: 10px;color: #FAFAFA;}
#changecsscode .gotoform:hover{background:#777;color:white}
#changecsscode .selectorcss b{overflow:hidden}
#changecsscode .activebtn{cursor:pointer;border-radius: 2px;width: 9px;background: #F1F1F1;line-height: 10px;margin: 3px 1px;
height: 11px;border: 1px solid #BBB;text-align: center;font-size: 12px;display: block;color: rgb(68, 68, 68);}
#changecsscode .activebtn:hover{background: #e1e1e1;color:#444;}
#changecsscode .csscode{width:100%;resize:none;border-radius: 0;border: 0;min-height: 20px;}
#css_panel{overflow: hidden;margin-top: 8px;}

/* --> code editor on code mode  */
.CSSLightproperty{color: #259bdb;white-space: pre;}
.CSSLightvalue{white-space: pre;color:#db249a}
.CSSLightother{color:red}
.CSSLightcontainer{position: relative;font: 11px Verdana, Arial, Helvetica, sans-serif;}
.CSSLighttexta{position: absolute;overflow-x: hidden;top: 0;outline: 0;width: 100%;white-space: nowrap;resize: none;font:inherit;max-height: 150px;
      padding:0px;margin:0;letter-spacing: 1px;padding-left:15px;line-height: 18px;border:0;
      -webkit-font-smoothing: antialiased;box-sizing: border-box;}
.CSSLighthilight{outline: 0;width: 100%;height: auto;white-space: nowrap;overflow: hidden;min-height: 20px;max-height: 150px;
        pointer-events: none;font:inherit;padding:0px;margin:0;letter-spacing: 1px;line-height: 18px;border: 0;
        -webkit-font-smoothing: antialiased;box-sizing: border-box;}
.CSSLightline{position:relative;padding-left:15px;min-height:18px;}
.CSSLightgutter{position:absolute;left:0;width:12px;height:20px;border-right: 1px solid #eeeeee;background: #f7f7f7; pointer-events: all;text-decoration: none;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.CSSLighthider{display: block;text-align: center;cursor: pointer;cursor: pointer;border-radius: 2px;width: 8px;background: #F1F1F1;
       line-height: 8px;margin: 5px 2px;height: 9px;border: 1px solid #BBB;text-align: center;
       font-size: 6px;display: block;color: #444;text-decoration: none}
.CSSLighthider:hover{background: #ccc;}
.CSSLightbarre{text-decoration: line-through}
.CSSLightbarre .CSSLighthider:after{content: "X"}
@-moz-document url-prefix() { 
  .CSSLighttexta{padding-left:14px;}
}

/* When CSS panel is in form mode */
.CSSForm #changecssform{display:block}
.CSSForm #changecsscode{display:none}
#changecssform{position: relative;width:100%;font-size: 11px;font-family: arial, sans-serif;}

/*  Media queries */
#mediaqueriesdisplay{position: fixed;width: 100%;left: 0;bottom: 0;z-index: 99;padding-top: 10px;line-height: 10px;background-color: #272727;
border-top: 1px solid #111;background-image: url(admin/img/stripe.png);transition: all 0.5s;-webkit-transition: all 0.5s;}
#mediaqueriesdisplay.hide{height:0;padding: 0;}
#mediaqueriesdisplay.active{display:block}
#scopeMediaQueries{position: absolute;top: 0;bottom: 0;background-image: -webkit-linear-gradient(bottom, #333, #222);border-left: 1px solid #222;border-right: 1px solid #222;}
#mediaqueriesdisplay .mediaq{margin:3px 0;height: 11px;border: 3px solid #ddd;border-top: 0;position: relative;cursor: pointer}
#mediaqueriesdisplay .mediaq.active{border: 3px solid #2DC1EE;border-top: 0;}
#arrow-down {width: 0px;height: 0px;border-left: 10px solid rgba(0, 0, 0, 0);border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #DFDFDF;position:absolute;top:0
}
#mdqlabel{position: absolute;left: 0;top: -21px;color: #B9B9B9;z-index: 2;font-size: 11px;background: #272727;padding: 5px;
border-radius: 0 10px 0 0;cursor: pointer;box-shadow: inset 0 1px 0 #3C3C3C;border: 1px solid #040404;border-bottom: 0;border-left: 0;}
.mediaq:before{position:absolute;display:block;content: attr(data-min);font-size: 9px;padding: 2px;top: -4px;color: #FFF;}
.mediaq:after{position:absolute;right:2px;display:block;content: attr(data-max);font-size: 9px;top: -2px;color: #FFF;}
#removeMDQ{display: inline-block;background: #f1f1f1;line-height: 8px;padding: 4px;border-radius: 5pc;margin-left: 5px;cursor: pointer}
#removeMDQ:hover{background: #ddd;}

/* When searching a selector */
.CSSSearch #css_panel{display:none}
.CSSSearchBTNS .ssTabCSS{background-image: url(admin/img/redo.png);background-repeat: no-repeat}

/* CSS Color Picker*/
#panelcss .colorpicker{z-index: 9999999999999;}
#panelcss .colorpicker input{background: transparent !important;}
.colorpicker2{width: 48px !important;border-radius: 2px 0 0 2px !important;}
.colorpicker3{background-image: url(admin/img/transparent.png);cursor:pointer;width: 17px;height: 17px;border: 1px solid #dfdfdf;border-left: 0;vertical-align: middle;margin-top: -2px;display: inline-block;}

/* CSS TOOL Metrics : margin, padding */
#metrics {margin-top: 15px;}
#metrics input{position:absolute}
#metrics .graph label {position: absolute;font-size: 8px;line-height: 11px;background-color: white;padding: 0 2px;color: #444;letter-spacing: 1.5px;border: 1px solid #CCC;top: 0;right: 0;
border-top: 0;border-right: 0;min-width: initial;}
#metrics .margin {display: inline-block;background: whiteSmoke !important;text-align: center;}
#metrics .padding {border: 1px white dashed;display: inline-block;text-align: center;}
#panelcss .graph .representation{border-top: 1px solid gainsboro;border-right: 1px solid gainsboro;border-left: 1px solid gainsboro;border-bottom: 1px solid gainsboro;background: #F9F9F9;}
#panelcss .graph input{width:33px}

/* CSS shadows */
#panelcss .shadowWidget label{min-width:40px}

/* CSS TOOL Background */
#panelcss_tab_background input[type="text"],#panelcss_tab_lists input[type="text"]{width: 114px;}
#panelcss_tab_background select{width: 114px !important;}

/* CSS TOOL Borders  */
#panelcss_tab_border_general select{width: 65px !important;}
.labels .borderMarkers{cursor:pointer;background: #ddd;position:absolute;width:18px;height:18px;box-shadow: 1px 1px 1px rgb(68, 68, 68);}
.labels .borderMarkers.active{box-shadow: none;border-top: 1px solid #777;border-left: 1px solid #777;}
.labels .borderMarkers div{height: 18px;}
.labels .borderMarkers.active div{height: 17px;}
.labels .borderMarkers.modifiedBorder div{border-color: #2DC1EE !important;}

/* Border radius */
.divrad{width:18px;height:18px;background: #ddd;display: inline-block;vertical-align: middle;}

.h-offset,.v-offset{width: 31px !important}

/* CSS TOOL Typography */
#panelcss_tab_type label{min-width: 45px;}
.optionDeco, .optionFontStyle, .optionAlign{cursor:pointer;width: 20px;height: 20px;background: #fff;display: inline-block;text-align: center;font-weight: bold;box-shadow: 1px 1px 1px #bbb;margin:0 5px}
.optionDeco.active, .optionFontStyle.active, .optionAlign.active {box-shadow: inset 1px 1px 1px #bbb;}
        
/* Font style */
.optionFontStyle{width: 40px;}

/* ############## Top Toolbar parts #####################*/

/* Top Toolbar Menu */
#toolbar a{line-height: 36px;padding:5px 15px;color:#fff;text-decoration: none;cursor:pointer;}
#admin #toolbar ul{margin: 0px;padding-left: 0px;text-align: left;}
#toolbar .menu > li:hover{box-shadow: inset 1px 0px 7px #000;}
#toolbar .menu > li a{display: block;width: 100%;height:100%;padding: 0px 15px;}
#toolbar ul li{float:left;}
#toolbar ul li:hover{
background: #888;
background-image: -webkit-linear-gradient(top, #242424,#313131);
background-image: -moz-linear-gradient(top, #242424,#313131);
background-image: linear-gradient(top, #242424,#313131);
}
#toolbar ul li:hover ul{display:block}
#toolbar ul > li.subMenu > a{background: url(admin/img/fleche.png) 95% 15px no-repeat;}
#toolbar ul > li:hover > a{color:#fff;}
#toolbar ul ul{display:none;z-index:2000;z-index: 1000000;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background: white;background: rgba(255, 255, 255, 0.97);position: absolute;border: 1px solid #DFDFDF;border-top: none;float:none}
#toolbar ul ul li{float:none;border:0;position:relative}
#toolbar ul ul li:hover {background: rgb(45, 193, 238);}
#toolbar ul ul li a{color: #555;text-shadow: none;display:block;min-width:140px;line-height:30px;box-shadow: none;white-space: nowrap}
#logo{height: 36px;}
#logo:hover {background: none !important;}
.littleLogo{display:none}
 @media screen and (max-width: 1400px) {
  #logo{width:32px}
  .littleLogo{display:block}
  .biggerLogo{display:none}
}


/* Top Toolbar right part */
#toolbar .rightpart{margin-right:10px;}
#toolbar .rightpart a {line-height:18px;padding:5px}

/* Top Toolbar middle part */
#toolbar .orientation > span{margin: 3px 6px;padding: 3px 2px;cursor:pointer}
#toolbar .orientation > span.active {border-bottom: 1px solid white;}
#info_themetype,#currentRes{text-transform: capitalize}

/* ######### Conf box - Inline Popup ############## */
#conf_box{position:relative;top:70px;display:inline-block;visibility:hidden;opacity :0.6;
        max-width: 95%;max-height: 83%;z-index:1000000;border-radius: 7px 7px 0 0;
        transition: transform 0.3s, opacity 0.3s;transform: scale(0.9);
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;-webkit-transform: scale(0.9);
}
#conf_box.open{visibility:visible;transform: scale(1);-webkit-transform: scale(1);opacity :1;}
#conf_box_overlay{text-align: center;position: fixed;width:100%;height:100%;background: rgba(0, 0, 0, 0.85);z-index: 999;}
#conf_box_load{position:relative;top:150px;margin:0 auto;width:220px;height:19px;background:url(admin/img/load.gif) no-repeat}
#conf_box_title{text-align: left;box-shadow: inset 0px -1px 0px #AAA;
color: #777;padding: 10px;border: 0px;font-size: 20px;font-weight: normal;border-radius: 5px 5px 0 0;
background-image: -webkit-linear-gradient(top, white, #ECECEC);
background-image: -moz-linear-gradient(top, white, #ECECEC);
background-image: linear-gradient(top, white, #ECECEC);
text-shadow: white 0 1px 0;}
.dbdesigner{position: absolute;left:2px;top:3px;/*border: #666 solid 1px;border-radius: 5px;*/cursor: alias;}
#conf_box_close, #conf_box_wpopup, #closemenu{margin:11px 6px;border: #777 solid 1px;border-radius: 5px;cursor: pointer;background: url(admin/img/icons.png) -96px -128px, whiteSmoke;}
#conf_box_wpopup{background: url(admin/img/icons.png) -32px -80px, whiteSmoke;}
#conf_box_close{margin-right: 13px;}
#conf_box_close:hover, #conf_box_wpopup:hover{border: #5E9AE2 solid 1px;}
#conf_box_content_iframe{width: 100%;height: 100%;}
#dialog{background: #EEE url(admin/img/concrete_wall_3.png);}

/* Blocks droppables */
.admin_core_block{float: left;position: relative;cursor:move;width: 42px;height: 42px;margin:4px 6px;padding: 0;border-radius: 2px;box-shadow: 0 1px 3px rgb(145, 145, 145);margin-bottom: 34px;}
.admin_core_block:after{content: attr(data-title);position: absolute;color: rgb(68, 68, 68);top: 48px;font-size: 9px;text-align: center;
width: 44px;max-width: 46px;line-height: 10px;overflow: hidden;height: 20px;}

/* ###################### Admin Zone In Popup #################"""" */

/* Tabs */
.tabs ul {overflow: hidden;border-bottom: 1px solid rgb(211, 213, 219);box-shadow: 0px 1px 0 rgb(255, 255, 255);margin: 2px 0 10px;}
.tabs ul li.active {background: rgb(236, 236, 236);}
.tabs ul li {display: inline-block;position: relative;color: #333;float: left;padding: 0px;cursor: pointer;text-align: center;}
.tabs ul li a {text-align: center;padding: 0 10px;color: #333;text-decoration: none;line-height: 30px;display: block;}
.adminzone{height:100%;width:100%;background: #ECECEC;font-family: Helvetica, Arial, sans-serif;min-height: 600px;min-width: 600px;}
.adminzone .pagination a {height: 20px ;line-height: 20px;padding:0}
.adminzone table{border-color: #99BCE8;}
.adminzone th,.adminzone thead{border:1px solid #DFDFDF;text-align:center;padding-top:8px}
.adminzone thead{letter-spacing: 1.5px;border-style: solid;border: 1px solid #DFDFDF;color: #464646;border-bottom-color: #DFDFDF;text-shadow: white 0 1px 0;
box-shadow: 0 1px 0 white;background-color: #F1F1F1;
background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
background-image: linear-gradient(top,#F9F9F9,#ECECEC);}
.adminzone th{font-weight:normal;line-height: 30px;font-size: 15px;box-shadow: #F4F8FD 0 1px 0px 0 inset;}
#tabsconfig th{min-width: 80px;} 
.adminzone td{vertical-align: middle;border: 1px solid #DDD;text-align: left;text-overflow:ellipsis;}
.adminzone tbody tr{background:white}
.adminzone .adminzonemenu{width: 150px;position: absolute;left: 0;top: 0;bottom: 0;background: #ECECEC;z-index: 99999;}
.adminzone .adminzonemenu h2{color: #555;padding: 5px 10px;font-size: 15px;}
.adminzone .adminzonemenu .adminzonetab{background: #ececec;cursor:pointer;font-size: 15px;line-height: 24px}
.adminzone .adminzonemenu .adminzonetab a{border-top: 1px solid #F9F9F9;
border-bottom: 1px solid #DFDFDF;color:#464646;text-decoration:none;display:block;line-height:30px;padding-left: 29px;background:url(admin/img/puce.png) no-repeat 7px 8px;}
.adminzone .adminzonemenu .adminzonetab a.active, .adminzonemenu .adminzonetab a:hover {border-top: 1px solid #BBB;background: url(admin/img/puce.png) no-repeat 7px 8px #E4E4E4;}
.adminzone .save{z-index: 999;position: relative;margin: 5px 20px;float: right;
text-shadow: 0 1px rgba(0, 0, 0, 0.35);border-radius: 5px;border: 1px solid rgb(7, 130, 214);
text-decoration:none;color: white;line-height: 25px;cursor: pointer;font-size: 15px;padding: 2px 10px;
background : webkit-gradient(top, #44C5EC, #259BDB);
background : -webkit-linear-gradient(top, #44C5EC, #259BDB);
background : -moz-linear-gradient(top, #44C5EC, #259BDB);}
.adminzone .save:hover{
    background : webkit-gradient(top, #44C5EC, rgb(21, 107, 155));
background : -webkit-linear-gradient(top, #44C5EC, rgb(21, 107, 155));
background : -moz-linear-gradient(top, #44C5EC, rgb(21, 107, 155));
background : linear-gradient(top, #44C5EC, rgb(21, 107, 155));}
.adminzone .save:active{box-shadow: inset 1px 1px 1px #444;}
.adminzone .adminzonemenu h3{font-size:16px}
.adminlist{text-overflow:ellipsis;line-height: 20px;padding: 5px 15px;color: #666;text-shadow: white 0 1px 0;text-decoration: none;cursor: pointer;font-weight: bold;
           font-size: 16px;border-top: 1px solid white;border-bottom: 1px solid #D3D5DB;cursor: pointer;}
.admintabs{display:none;max-height: 100%;} 
.adminzonecontent{position:absolute;padding: 7px;bottom:40px;top:0;right:0;left: 150px;border-left: 1px solid rgb(219, 219, 219);font-size: 12px;background: #fbfbfb;overflow: hidden;overflow-y: auto;min-width: 731px;min-height: 600px;}
.adminzonecontent h2{font-size: 20px;line-height: 30px;font-weight: normal;margin: 0;color: #777;padding: 10px;text-shadow: white 0 1px 0;} 
.adminzonefooter{position: absolute;bottom: 0;background: #ECECEC;width: 100%;left: 0;right:0;z-index: 9999;height: 40px;box-shadow: inset 2px 2px 2px #ccc;}

/* Model Forms*/
.adminzonecontent .cols{display: table;/*display: -webkit-box;display: -moz-box;display: box;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;*/}
.adminzonecontent .col1 {margin: 0px 22px 0px 0px;min-width:531px;display:table-cell;vertical-align: top;/*-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;*/
 background-color: whiteSmoke;
background-image: -webkit-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: linear-gradient(top,#F9F9F9,whiteSmoke);
border-color: #DFDFDF;
box-shadow: inset 0 1px 0 white;
border-radius: 3px;
position: relative;
margin-bottom: 20px;
padding: 0;
border-width: 1px;
border-style: solid;
line-height: 1;
padding: 10px;
position:relative;
}
.adminzonecontent .col2 > div{
  background-color: whiteSmoke;
background-image: -webkit-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: linear-gradient(top,#F9F9F9,whiteSmoke);
border-color: #DFDFDF;
box-shadow: inset 0 1px 0 white;
border-radius: 3px;
position: relative;
min-width: 255px;
margin-bottom: 20px;
border-width: 1px;
border-style: solid;
line-height: 1;
padding: 10px;
position:relative;
padding-top:40px;
}
.adminzonecontent .col2{padding: 0 20px;min-width:250px;max-width: 350px;display:table-cell;vertical-align: top;/*-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;*/}
.adminzonecontent .col2 > div > label .ui-icon{position: absolute;right: 5px;top: 6px;}
.adminzonecontent .col2 > div > label{color: #464646;
border-bottom-color: #DFDFDF;
text-shadow: white 0 1px 0;
box-shadow: 0 1px 0 white;
background-color: #F1F1F1;
background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
background-image: linear-gradient(top,#F9F9F9,#ECECEC);
font-size: 15px;
font-weight: normal;
padding: 7px 10px;
margin: 0;
line-height: 1;
margin-top: 1px;
border-bottom-width: 1px;
border-bottom-style: solid;							 
border-top-left-radius: 3px;
border-top-right-radius: 3px;
display: block;
border-bottom-color: #DFDFDF;
text-shadow: white 0 1px 0;
box-shadow: 0 1px 0 white;
position:absolute;
top:0;
left:0px;
width:100%;
text-transform:capitalize;
margin: 0px 7px 10px 0;
}
.adminzonecontent h2 input[type="submit"] {
border-radius: 4px;
color: white;
font-size: 13px;
background-image: -webkit-linear-gradient(top, #44C5EC, #259BDB);
background-image: linear-gradient(top, #44C5EC, #259BDB);
border: 1px solid #5B8F9C;
text-shadow: 0 1px rgba(0, 0, 0, 0.35);
margin: 0 5px;
}

legend{display: block;
        text-transform: capitalize;
        margin: 4px 7px 0px 5px;
        color: #464646;
        padding: 3px 7px;
        font-size: 14px;
        border: 1px solid #DFDFDF;
        border-radius: 5px;
        background-color: #F1F1F1;
        background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
        background-image: linear-gradient(top,#F9F9F9,#ECECEC);}
fieldset {
        border: 1px solid #CCC;
        border-radius: 8px;
        padding: 10px;
        background: #F9F9F9;}

/* Panel */
.panel{position: relative;}

/* ############## Admin UI ################## */

/* Resizable */
#parsimonyDND{position: absolute;display:none;text-align: center;box-shadow: 0 0 3px #00aaff;z-index: 99999;}
.parsimonyResize{position: absolute;display:none; display: block; width: 10px; height: 10px;border: 1px solid #00aaff;border-radius:4px;pointer-events:all}
.parsimonyResize.se{ right: -5px; bottom: -5px;cursor: se-resize;}
.parsimonyResize.nw{ left: -5px; top: -5px;cursor: nw-resize;display:none}
.positionOK .parsimonyResize.nw{ display:block}
.parsimonyResize.ne{ right: -5px; top: -5px;cursor: ne-resize;display:none}
.positionOK .parsimonyResize.ne{ display:block}
.parsimonyResize.sw{ left: -5px; bottom: -5px;cursor: sw-resize;display:none}
.positionOK .parsimonyResize.sw{ display:block}
.parsimonyResizeInfo{pointer-events: all;white-space: nowrap;height: 28px;border-radius: 3px;position: absolute;font-size: 10px;top: -36px;line-height: 19px;box-shadow: 0px 0px 3px black;
background-color: #f9f9f9;
-webkit-filter: drop-shadow(0px 0px 3px #000);
-webkit-box-shadow: none;
}
.parsimonyResizeInfo .toolbarButton {pointer-events:all;display: inline-block;padding:6px 4px;border-right: 1px solid #E2DFDF;border-left:1px solid #FFFFFF;}
.spanDND{background: url(admin/img/icons.png) -96px -128px;width: 16px;height: 16px;overflow: hidden;display: block}
.parsimonyResizeInfo .toolbarButton:hover{background: #ececec;}
#resizeinfo{line-height: 9px;display: inline-block;padding-left: 5px;}
.parsimonyMove{display: none;pointer-events:all;top: 45%;position: relative;width:16px;height:16px;border: 1px solid #00aaff;border-radius:4px;}
.positionOK .parsimonyMove{display: inline-block;cursor: move}
#idName{vertical-align: top;margin: 5px;display: inline-block;}

/* Overlays */
#overlays{position:absolute;top:35px;pointer-events: none;width:100%;height:100%;z-index: 0;-webkit-user-select: none;-moz-user-select: none;user-select: none;}

/* Block overlay */
#blockOverlay{pointer-events: none;position: absolute;top:0;left:0;-webkit-transition: all 0.1s;-moz-transition: all 0.1s;/* too slow */background-color:rgba(5,178,248,0.10)}
/*#blockOverlay.csspicker{background-color:rgba(204,10,71,0.25)}*/
/* Shelter for unused div*/
#shelter > div{display:none;}

/*translation*/
.translate{border: 2px solid #6C9;border-style: dotted;}

/* CSSpicker */
#selectorcontainer{position: relative;min-width: 230px;}
#csspicker{z-index: 1;padding: 3px;padding-top: 7px;cursor:pointer;width: 23px;height:28px;position: absolute;top:1px;border-right:1px solid #E0E0E0;background: #f1f1f1;}
#csspicker:hover,#csspicker.active{background-color: #dfdfdf}


/* explorer */
.explorer{float:right;cursor:pointer;margin-right: 15px;}

/* Notify */
#notify{border-radius: 0 0 5px 5px;border: solid #DDD 1px;border-top:0;position: fixed;top: 36px;left: 30%;padding: 2px 30px;z-index: 999998;display: none;width: 600px;text-align: center;font-family: arial;font-size: 14px;padding: 3px 0;}
#notify.positive{color: rgb(32, 44, 8);background: #A2E01B;border: solid rgb(97, 126, 39) 1px;border-top: 0;}
#notify.negative{color: rgb(255, 255, 255);background: #cb2d33;border: solid #cb2d33 1px;}
#notify.normal{color: rgb(255, 255, 255);background: rgb(45, 193, 238);border: solid rgb(45, 193, 238) 1px;}

/* Menu link trad */
#menu{font-family: arial;font-size:12px;position:absolute;border:1px #888 solid;padding:2px;border-radius:4px;z-index:998;box-shadow: 1px 1px 3px #888;color: #444;border-color: #C1C1C1;background: #f9f9f9;}
#menu .option{border-top: white solid 1px;border-bottom: #E0E0E0 solid 1px;padding: 5px;clear:both;white-space: nowrap;}
#menu .option:last-child{border-bottom:0}
#menu .option:hover,#CSSProps a:hover{background:#eee;cursor:pointer}
#menu .ui-icon{position: relative;top:-3px}
#menu h5{padding: 4px 8px;line-height: 16px;font-family: arial;font-size: 13px;font-weight: normal;color: #fff;letter-spacing: 1.1px;border-radius: 2px;
background: -webkit-linear-gradient(bottom,#828282,#777);
background: -moz-linear-gradient(bottom,#828282,#777);
margin:0}
#menu a{color: #333;text-decoration: none;display: block;width: 100%;}

/* block toolbar */
.toolbarButton{position:relative;}
#CSSProps{z-index: 999;position: absolute; top: 28px;background: #F9F9F9;text-align: left;left: 0;opacity:0.93}
.toolbarButton:hover #CSSProps{display:inline-block !important}
#CSSProps a{line-height:23px;padding: 0 5px;clear:both;border-bottom: #E0E0E0 solid 1px;display:block;text-decoration: none;color: #444;font-size: 11px;}
#CSSProps a:last-child{border-bottom:0}

.mediaQueriesTitle{padding: 3px;background: #F5F3F3;color: #444;font-size: 9px;line-height: 13px;}

/* Transitions */
.notransition{
    transition:none !important;-webkit-transition:none !important;
    -moz-transition:none !important;
}

/* datagrid */
.datagrid{width: 100%; }
.datagrid th{padding: 0 4px;}
.datagrid .line{cursor: pointer;height:30px;line-height: 25px;}
.datagrid_id{text-align: center !important;}
.datagrid .line:nth-child(even){background: #f6f6f6}
.datagrid .line:nth-child(odd){background: #FFF}
.datagrid .column{overflow:hidden;padding:3px;max-width:100px;width:auto}
.datagrid .line:hover td:not([rowspan]){border-color: DDD;background-color: #EFEFEF;}
.datagrid_title{max-width: 300px !important;text-align: left !important;}
.selecttr{border-style: dotted;border-color: #A3BAE9;background-color: #DFE8F6;}
.datagridWrapper{width: 100%;overflow-x: auto;}

/* forms placeholder */
.placeholder{position:relative;clear: both}
.placeholder > label{position:absolute;display:block;text-transform : capitalize; margin: 4px 7px 0px 5px;color:#464646;padding:3px 7px;font-size: 14px;border:1px solid #DFDFDF;border-bottom: 0px;border-top-left-radius: 5px;border-top-right-radius: 5px;
background-color: #F1F1F1;
background-image: -webkit-gradient(top,#F9F9F9,#ECECEC);
background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}
.placeholder input[type='text'],.placeholder input[type="password"],.placeholder select,.placeholder textarea{margin: 25px 0px 3px;width:100%;}
.placeholder input[type="range"] {-webkit-appearance: none !important;background-color: whiteSmoke;border-radius: 10px;border: 1px solid #CCC;margin: 25px 0px 3px;}
.col2 .placeholder input[type='text'],.col2 .placeholder select,.col2 .placeholder textarea{margin: initial;width:auto;}
.col2 .placeholder label{border:0}
.placeholder .tooltip{position: absolute;right: -19px;top: 1px;}
.placeholderRange{padding: 0 3px;}
.placeholder .uploadimg{padding: 25px 0px;}
.placeholder .field-image-inputText a,.placeholder field-image-fileName a{color: #464646;}
.placeholder .publishcl{clear: both;font-size: 13px;color: #333;text-shadow: 0px 1px 0px white;padding-top: 8px;}
.placeholder .publishcl input[type="text"]{width: 25px;}
.placeholder .publishcl .addyyyy{width: 40px;}
.placeholder .publishcl select{vertical-align: top;height: 26px;width: 70px;font-size: 13px;}
.placeholder .pubstatus input[type="button"]:nth-child(2) {border-left: none;border-right: none;}


/* Pagination */
.pagination a{
    display:block;width: 20px;height: 15px;margin:5px;float:left;
    border-radius: 3px;
    background: #F6F6F6 -webkit-linear-gradient(top,white,#EFEFEF);
    background: #F6F6F6 linear-gradient(top,white,#EFEFEF);
    border: 1px solid #CCC;text-align:center;color: black;padding: 5px;vertical-align: middle;text-decoration:none;
}
.pagination a.active{
    background:#F3F3F3 linear-gradient(top,#EBEBEB,#CCC);
    background:#F3F3F3 -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(#CCC));
}

.pagination a:hover{
    background:#F3F3F3 linear-gradient(top,#EBEBEB,white);
    background:#F3F3F3 -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(white));
    box-shadow: 0 0 3px #999;
}
.pagination a:active {
    background:#F3F3F3 linear-gradient(top,#EBEBEB,#CCC);
    background:#F3F3F3 -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(#CCC));
}

/* Fix wysiwyg */
#HTML5editorToolbar button{min-width: initial !important;}
.HTML5Editor ul{list-style: disc outside none;padding-left:40px;margin:12px 0 }

/* ############## BASIC UI ################## */

/* ScrollBar for Webkit */
.cs{overflow: hidden;overflow-y: auto;height:100%;}
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track-piece{background-color:#CCC}
::-webkit-scrollbar-button:vertical{background-color:#777;height:5px}
::-webkit-scrollbar-thumb:vertical{background-color:#777;height:50px;border:0;}
::-webkit-scrollbar-corner:vertical{background-color:#777}
::-webkit-scrollbar-resizer:vertical{background-color:#777}
::-webkit-scrollbar-button:start:decrement{display:none}
::-webkit-scrollbar-button:end:increment{display:none}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button:vertical:start:increment{display:none}
::-webkit-scrollbar-button:vertical:end:decrement{display:none}
body::-webkit-scrollbar{width:0}
/* Footer ScrollBar for Webkit */

.fs{overflow: hidden;overflow-x: auto;width: 100%;}
::-webkit-scrollbar{height:12px;}
::-webkit-scrollbar-track-piece{background-color:#CCC;}
::-webkit-scrollbar-button:horizontal{background-color:#bbb;width:7px }
::-webkit-scrollbar-thumb:horizontal{background-color:#bbb;width:50px;border:0; }
::-webkit-scrollbar-corner:horizontal{background-color:#bbb;}
::-webkit-scrollbar-resizer:horizontal{background-color:#bbb;}
::-webkit-scrollbar-button:horizontal:start:increment{display:none}
::-webkit-scrollbar-button:horizontal:end:decrement{display:none}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button:vertical:start:increment{display:none}
::-webkit-scrollbar-button:vertical:end:decrement{display:none}
#panelcss ::-webkit-scrollbar{height:7px;}
/* UI Google Style */

/* Select webkit */
select:enabled:hover {/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/color: #333;background-image: url("admin/img/select.png"), -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);}
select {background-position: center right;
background-repeat: no-repeat;
color: #555;
font-size: inherit;
margin: 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
border-radius: 2px;
-webkit-padding-end: 15px;
-moz-padding-end: 0px;
-webkit-padding-start: 0px;
-moz-padding-start: 0px;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
background-image: url("admin/img/select.png");
border: 1px solid #CCC !important;
}
select:enabled:hover[multiple]{
    background: none;
}
/* Textarea and Inputs */
textarea, input[type="text"], input[type="password"], input[type="file"] {
border-style: none;
padding: 4px;
text-shadow: 0px 1px 0px white;
outline: none;
border: 1px solid #C1C1C1;
color: #333;
border-radius: 3px;
background: white;
}
/* Textarea and Inputs  : hover and Focus */
input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="file"]:hover, input[type="file"]:focus {

}

/* Buttons */
button,input[type='button'],input[type='submit'] {
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border: 1px solid #aaa;
    color: #444;
    font-size: inherit;
    margin-bottom: 0px;
    min-width: 4em;
    padding: 3px 12px 3px 12px;
}
button:hover,input[type='button']:hover,input[type='submit']:hover {
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}
button:active,input[type='button']:active,input[type='submit']:active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    background: #ebebeb linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}
button[disabled],input[type='button'][disabled],input[type='submit'][disabled],button[disabled]:hover,input[type='button'][disabled]:hover,input[type='submit'][disabled]:hover {
    box-shadow: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border-color: #aaa;
    color: #888;
}

/* Checkbox and radio */
input[type='checkbox'] {
    box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2);
    -webkit-appearance: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 3px;
    background: -webkit-linear-gradient(#fafafa, #dcdcdc);
    background: linear-gradient(#fafafa, #dcdcdc);
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    display: inline-block;
    height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 3px;
    vertical-align: baseline;
    width: 16px;
}

input[type='checkbox']:disabled {
    opacity: .75;
}

input[type='checkbox']:not(:disabled):not(:active):hover {
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    background: linear-gradient(#fff, #e6e6e6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='checkbox']:not(:disabled):active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(#f0f0f0, #bebebe);
    background: linear-gradient(#f0f0f0, #bebebe);
    border: 1px solid #808080;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='checkbox']:checked::before {
    color: #808080;
    content: url("admin/img/checkmark.png");
    font-size: 13px;
    height: 16px;
    left: 2px;
    position: absolute;
}

input[type='radio'] {
    box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2);
    -webkit-appearance: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 3px;
    -webkit-transition: border 500ms;
    background: -webkit-linear-gradient(#fafafa, #dcdcdc);
    background: linear-gradient(#fafafa, #dcdcdc);
    border-radius: 100%;
    border: 1px solid #a0a0a0;
    display: inline-block;
    height: 15px;
    margin-bottom: 0;
    position: relative;
    top: 3px;
    vertical-align: baseline;
    width: 15px;
}

input[type='radio']:disabled {
    opacity: .75;
}

input[type='radio']:not(:disabled):not(:active):hover {
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    background: linear-gradient(#fff, #e6e6e6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='radio']:not(:disabled):active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(#f0f0f0, #bebebe);
    background: -webkit-moz-gradient(#f0f0f0, #bebebe);
    border: 1px solid #808080;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='radio']:checked::before {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-margin-start: 4px;
    background: #808080;
    border-radius: 10px;
    content: '';
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    height: 5px;
    left: 0;
    margin-top: 4px;
    opacity: 1;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 5px;
}

html[dir='rtl'] input[type='radio']:checked::before {
    right: 0;
}

input[type='radio']:active:checked::before {
    background: #606060;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
    box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
    -webkit-transition: border-color 200ms;
    border-color: #4080fa;
    outline: none;
}

label:hover > input[type=checkbox]:disabled ~ span,
label:hover > input[type=radio]:disabled ~ span {
    color: #888;
}

label:hover > input[type=checkbox]:not(:disabled) ~ span,
label:hover > input[type=radio]:not(:disabled) ~ span {
    color: #222;
}

/* Sliders */
input[type="range"]{
-webkit-appearance: none !important;
background-color: whiteSmoke;
border-radius: 10px;
border: 1px solid #CCC;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 10px;
    height: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,1);
    cursor: pointer;
    border-top: 1px solid #fff;
    background: #ccc;
}

/* ################ Hacks tricks ################## */
[draggable] {-moz-user-select: none;-webkit-user-select: none;user-select: none;}

/* ################ Icon CSS Sprite ################## */
.sprite {background-image: url(admin/img/defaultsprite.png);background-repeat: no-repeat;display: inline-block;}
.sprite-arrow{ background-position: 0 -222px; width: 20px; height: 20px; } 
.panelblocks .icons{ background-position: 7px -359px; } 
.sprite-db_small{ background-position: 0 -440px; width: 16px; height: 17px; } 
.sprite-dbicon{ background-position: 0 -507px; width: 24px; height: 24px; } 
.sprite-dbiconON{ background-position: 0 -581px; width: 24px; height: 24px; } 
.themes .icons{ background-position: 7px -648px; } 
.sprite-filesicon{ background-position: 0 -729px; width: 24px; height: 24px; } 
.sprite-filesiconON{ background-position: 0 -803px; width: 24px; height: 24px; } 
.sprite-fleche{ background-position: 0 -877px; width: 6px; height: 6px; } 
.panelmodules .icons{ background-position: 7px -1000px; } 
.sprite-landscape{ background-position: 0 -1081px; width: 15px; height: 10px; } 
.sprite-module{ background-position: 0 -1141px; width: 16px; height: 16px; } 
.sprite-multi{ background-position: 0 -1207px; width: 12px; height: 18px; } 
.sprite-picker{ background-position: 0 -1275px; width: 16px; height: 16px; } 
.sprite-pickericon{ background-position: 0 -1341px; width: 24px; height: 24px; } 
.sprite-pickericonON{ background-position: 0 -1415px; width: 24px; height: 24px; } 
.sprite-portrait{ background-position: 0 -1489px; width: 10px; height: 15px; } 
.sprite-savecss{ background-position: 0 -1554px; width: 24px; height: 24px; } 
.paneltree .icons{ background-position: 7px -1621px; } 
.panelcss .icons{ background-position: 7px -1695px; }
.sprite-dir{ background-position: 4px -725px;display: block }
.sprite-bdd{ background-position: 4px -504px;display: block } 
.sprite-csspicker{ background-position: 4px -1338px;display: block }
.sprite-csspickerlittle{ background-position: -3px -1388px;display: block } 

/* ################ Icon CSS Sprite of Jquery UI ################## */
.ui-icon {padding: 8px 9px 8px 7px; width: 16px; height: 16px;background-color:transparent; background-image: url(admin/img/icons.png);display: block;overflow: hidden;}
.ui-icon-white{background-image: url(admin/img/icons_white.png);padding: 8px 9px 8px 7px; width: 16px; height: 16px;background-color:transparent;display: block;overflow: hidden;}
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-closethick {background-position: -96px -128px;}
.ui-icon-wrench {background-position: -176px -112px;}
.ui-icon-pencil {background-position: -64px -112px;}
.ui-icon-circle-close {background-position: -32px -192px;}
.ui-icon-arrowthickstop-1-s {background-position: -224px -48px;}
.ui-icon-carat-1-e {background-position: -32px 0;}
.ui-icon-arrowrefresh-1-w {background-position: -128px -64px;}
.ui-icon-folder-open {background-position: -16px -96px;}
.ui-icon-trash {background-position: -176px -96px;}

:invalid{background: #fff no-repeat 98% center;box-shadow: 0 0 5px #ffeded;border-color: #ffeded}
input[required]:after{content: "*";position: absolute;color: #df4e1e;right: 1%;top: 50%;font-size: .8em;}
textarea[required]:after{content: "*";position: absolute;color: #df4e1e;right: 1%;top: 20%;font-size: .8em;}

/* Tabs mode */
.switchMode:first-child{border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.switchMode:last-child{border-radius: 0 10px 10px 0;}

li.switchMode {
text-align: center;
margin: 0;
font-size: 14px;
padding: 3px 12px 3px 12px;
cursor: pointer;
background: -webkit-linear-gradient(#313131,#242424);
background: -moz-linear-gradient(#313131,#242424);
background: linear-gradient(#313131,#242424);
box-shadow: inset 0 1px 0 #3c3c3c;
border: 1px solid #040404;
border-right-width: 0;
float: left;
display: block;
outline: none;
}

#editMode {border-right: 0;border-left: 1px solid rgb(0, 0, 0);}
#creationMode {border-top-right-radius: 2px;border-bottom-right-radius: 2px;border-left: 1px solid rgb(0, 0, 0) !important;}
#creationMode.selected {text-align: center;border-right: 0;border-left: 1px solid rgb(0, 0, 0) !important;}

.switchMode.selected, .switchMode.selected:hover {
cursor: pointer;border: 1px solid rgb(0, 0, 0);box-shadow: none !important;
background-image: -webkit-linear-gradient(top, #44C5EC, #259BDB) !important;
background-image: -moz-linear-gradient(top, #44C5EC, #259BDB) !important;
background-image: linear-gradient(top, #44C5EC, #259BDB) !important;
}

#modesSwitcher {margin: 0px;padding-left: 0px;border-radius: 4px;border: 1px solid #363738;}

/* Edit  toolbar */
#toolbarEditModeSave{border-color: rgb(42, 107, 158);cursor: pointer;background-image: -webkit-linear-gradient(top, #44C5EC, #259BDB);color: #fff;}
#toolbarEditModeSave:hover{background-image: -webkit-linear-gradient(top, #44C5EC, rgb(25, 131, 189));}
