/* CSS Picker 3D KEEP IN FIRST */
.threed *{}

.threedLeft *::after {
top: 0;left: 0;right: auto;bottom:0;width: 60px;height: 100%;background-color: #ccc;
content: " ";position: absolute;
-webkit-transform: rotateY(90deg);-webkit-transform-origin: 0 0;
transform: rotateY(90deg);transform-origin: 0 0;}

.threedRight *::after {
top: 0;right: 0;bottom:0;left: auto;width: 60px;height: 100%;
background-color: #ccc;content: " ";position: absolute;
-webkit-transform: translateX(100%) rotateY(90deg);-webkit-transform-origin: 0 0;
transform: translateX(100%) rotateY(90deg);transform-origin: 0 0;}
.threedTop *::before {
top: 0;right: 0;left: 0;bottom:auto;width: auto;height: 60px;
background-color: #aaa;content: " ";position: absolute;
-webkit-transform: rotateX(-90deg);-webkit-transform-origin: 0 0;
transform: rotateX(-90deg);transform-origin: 0 0;}

.threedBottom *::before{
bottom: 0;right: 0;left: 0;top:auto;width: auto;height: 60px;
background-color: #aaa;content: " ";position: absolute;
-webkit-transform-origin: 0 0;-webkit-transform: translateY(100%) rotateX(-90deg);
transform-origin: 0 0;transform: translateY(100%) rotateX(-90deg);
}
.threedLeft *.cssPicker::after,.threedRight *.cssPicker::after{background-color: rgb(45, 193, 238);}
.threedTop *.cssPicker::before,.threedBottom *.cssPicker::before{background-color: rgb(31, 170, 212);}

body{overflow: hidden;} 

/* translation */
.translation{color: inherit !important;font: inherit !important;border-bottom:1px orange dotted !important;border-radius: inherit !important;margin: 0 !important;padding: 0 !important;line-height: inherit !important;}
.translation:hover{background: orange !important;cursor:help;border: 1px dotted #DDD;}

/* Marker drag n drop blocks */
#container #dropInPage{position:relative;z-index:999995;height: 0px;pointer-events:none;clear:both}
#container #dropInPageChild{position: absolute;border-radius: 3px;border: 1px solid #96005b;background: #c8007a;width: 100%;height: 8px;top: -4px;}
#container .core_container.column #dropInPage{float:left;width: 5px;height:100%;clear:initial}
#container .core_container.column #dropInPageChild{height: 30px;}
.dropInContainer{padding: 10px 0px;}
.dropInContainerChild{padding: 10px 10px;position: relative;border: 1px dashed #276D7F;text-align: center;margin: 0px 10px;text-shadow: 1px 1px 0px white;
font-size: 15px;color: #276D7F;letter-spacing: 1.5px;background: #EEE;}

/* Outline block */
.selection-container{outline:1px solid #007BC8;}

/* Editinplace */
.creationMode .parsieditinline:hover, .creationMode .core_wysiwyg:hover,.previewMode .parsieditinline:hover,.previewMode .core_wysiwyg:hover{outline:none;}
.editMode a{pointer-events:none}

/* CSS Picker */
.cssPicker{/*outline: 1px solid rgb(255, 0, 251);*/background: rgb(45, 193, 238) !important;}

/* Selection */
html ::selection {background: #00D5FF;color: #ffffff;}
html ::-moz-selection {background: #00D5FF;color: #ffffff;}
.creationMode {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* Prevent loose focus when user in iframe */
iframe{pointer-events:none}
