body{background:url(admin/img/carbon_fibre.png);overflow-x: hidden;}
body.creationMode{margin-right:230px;margin-left:200px;}
body.editMode{margin-left:200px;}
body.previewMode,body.closeleft{margin-left:0;}
body.closeright{margin-right:0;}

body.closeleft #left_sidebar{left:-200px}
body.closeright #right_sidebar{right:-230px}

#admintoolbar{font-size: 13px;text-align: center;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}

/*############## SideBars ################# */

.sidebar{position:fixed;width: 200px;height: 100%;padding-top: 35px;z-index: 1;overflow: auto;
         transition: left 0.1s, right 0.1s;background: #fafafa;color: #444;display:none}

/* Sidebars Tabs */

.roundBTN{width: 28px;height: 28px;top: 5px;display: block;cursor: pointer;border-radius: 4px;background-color: #242424;
border: 1px solid #040404;box-shadow: 1px 1px 0 #363738;margin: 0 5px;}
.roundBTN.active,.roundBTN:hover{background-color: rgb(45, 193, 238);box-shadow: none;border: 1px solid rgb(45, 193, 238);}

/* Sub Tab */
.subTabsContainer{height: 42px;padding: 9px;}
.ssTabCSS{position: relative;line-height: 18px;color:#333;border-bottom: 1px solid rgb(211, 213, 219);
box-shadow: 0px 1px 0 rgb(255, 255, 255);
float: left;width: 50%;padding: 3px;cursor: pointer;text-align: center;}
#admin{text-align: left;}

/* Preview frame */
#preview{background-color: white;width: 100%;height: 650px;margin-top: 35px;}
#preview.sized{
	    border: 40px solid #0E0D0D;border-radius: 0 0 15px 15px;border-top: 0;box-shadow: 0 0 0 1px #999;
	    box-sizing: content-box;-moz-box-sizing: content-box;margin-left: -40px;
}
/* Title Tab */
.titleTab{font-size: 15px;height: 28px;vertical-align: top;line-height: 25px;
color: rgb(73, 71, 71);cursor: pointer;clear:both;position: relative;padding-left: 11px;
background-color: #f1f1f1;border-left: 3px solid rgb(45, 193, 238);margin: 8px 0;font-size: 18px;}
.titleTab:first-child{border-top:0}
#modules .titleTab span{margin: 5px 7px 0px 7px;}
#modules .titleTab .configmodule{display: block;float:right;margin: 5px;line-height: 0;background: url(admin/img/config.png) no-repeat;width: 16px;height: 16px;}
#manage .titleTab a {text-decoration: none;color: rgb(73, 71, 71);display: inline-block;width: 100%;height: 100%;}
#manage .titleTab {background-color: transparent;}
#manage .titleTab:hover {background-color: #f1f1f1;}
.sublist{position:relative;line-height:28px;clear:both;font-size: 12px;color: #444;text-transform: capitalize;cursor:pointer;display: block;text-decoration: none;}
.sublist:last-child{border-bottom: 1px solid transparent;padding-left: 26px;}
.sublist:hover,.sublist.selected{background-color: #ececec;border-radius: 2px;}
.sublist a.ui-icon-pencil{display: none;background: #F5F5F5 url(admin/img/config.png) no-repeat;
background-position: 6px 7px;right: 0;top: 0;height: 30px;width: 30px;position: absolute;}
.sublist:hover a.ui-icon-pencil{display: block}
.modelSubList{padding-left: 30px;background-repeat: no-repeat;background-position: 8px 3px;}
.subtitle{color: #777;text-transform: uppercase;font-weight: bold;padding-left: 26px;
			line-height: 30px;background: url(admin/img/database.png) 12px 9px no-repeat;}

.moduleParts ul{max-height: 300px;overflow-y: auto}
.creationMode .gotoDBDesigner{display:block;padding-left: 45px;}
.gotopage{padding-left: 30px}
.gotoDBDesigner{display: none;padding-left: 25px;}
.gotoDBDesigner:before{content: "";display: block;width: 16px;height: 16px;background: url(admin/img/icons.png) -30px -78px;position: absolute;left:25px;top: 4px;}
.modelSubList.active:after {right: 0;position: absolute;width: 0px;height: 0px;
border-style: solid;border-width: 13px 13px 13px 0;border-color: transparent #fefefe transparent transparent;content: "";}

#add-module{text-decoration: none;line-height: 28px;clear: both;font-size: 13px;margin-left: 13px;padding-bottom: 3px;
	color: #777;text-transform: uppercase;font-weight: bold;}
#add-module:hover{border-bottom: 2px solid rgb(45, 193, 238);}

/* Sidebar left */
#left_sidebar{left: 0;box-shadow: 1px 1px 2px #444}

/* Sidebar right */
#right_sidebar{right:0;width:230px;box-shadow: -1px 1px 2px #444}

/* Top toolbar */
#toolbar{position: fixed;left:0;right:0;min-width: 980px;display:flex;justify-content:space-between;z-index: 2;height:35px;color: white;
font-size: 12px;background-color: #272727;background-image: -webkit-linear-gradient(top, #333333, #222222);
			box-shadow: 0px 1px 0px rgb(41, 41, 41);border-bottom: 1px solid rgb(17, 17, 17);}
body.closeleft #toolbar:before{left: -200px}
body.closeright #toolbar:after{right: -230px}
.creationMode #toolbar:before{background: rgb(45, 193, 238);transition: left 0.1s, right 0.1s;
					   content: " ";width: 200px;height: 36px;position: absolute;}
.creationMode #toolbar:after {transition: left 0.1s, right 0.1s;
					   background: rgb(45, 193, 238);content: " ";width: 230px;height: 36px;position: absolute;right: 0;top: 0;}

#infodev{display:none;}
#infodev div{margin:10px 0;}

/* Sidebar icons */
.icons {position: relative;width: 40px;height: 36px;line-height: 34px;z-index: 999;cursor: pointer;}
.icons.active,.icons:hover{background-color: rgb(41, 170, 209);}

.sidebar h2{font-weight: normal;font-size: 20px;height:41px;color:#777;
border-bottom: 2px solid rgb(45, 193, 238);padding: 0;text-align: center;margin: 10px 10px;line-height: 41px;}

/* Sidebars parts */

/* Sidebar right parts */

/* Tree */

#tree{padding : 5px 0;color:#444;font-weight: normal;letter-spacing: 1.1px;font-size: 12px;}
.tree_selector{line-height: 24px;cursor:pointer;}
#tree span.move_block{cursor:move;}
#config_tree_selector{margin-right:5px;height: 16px;}
#treedom_container > #config_tree_selector:first-child .move_block{display:none}
#treedom_container{border-left:0 !important}

#dropInTree{position:relative;height:0;width:100%;pointer-events:none}
#dropInTree::after{position:absolute;width:100%;height:6px;top:-3px;left:0px;height:3px;width:100%;content: " ";background: #c8007a;}

/* Tree icons */
.parsicontainer{background: url(admin/img/parsicontainer.png) no-repeat 3px 3px;clear:both;padding-left: 18px;}
#treedom_content{background: url(admin/img/parsipage.png) no-repeat 1px 4px;position:relative;min-height: 45px;}
#treedom_content::before {content: " ";bottom: 0;position: absolute;top: 23px;right: 0;left: 15px;border: 1px solid #CCC;border-radius: 2px;background-color: #FDFDFD;}
#treedom_content .tree_selector {position: relative}
#treedom_content.currentDOM::before {top: 38px;}

#paneltree fieldset .parsimonyblock{background: url(admin/img/parsiblock.png) no-repeat 12px -1px;}
.parsimonyblock{background: url(admin/img/parsiblock.png) no-repeat 4px 1px;padding-left: 25px;}
.parsipage{background: url(admin/img/parsipage.png) no-repeat 10px;padding-left: 30px;}

.arrow_tree{background:url(admin/img/arrow.png) no-repeat -8px 7px;float:left;display:block;width:16px;height:16px;cursor:pointer}
.arrow_tree.down{background:url(admin/img/arrow.png) no-repeat 5px 5px} 

/* Panel CSS */
#savemycss,#reinitcss{vertical-align: bottom;box-shadow: none;outline:0}
#savemycss:hover,#reinitcss:hover{box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);}
#savemycss{border: 0;border-radius: 5px 0 0 5px;padding: 0px 12px 3px 3px;width: 30px;height: 30px;background: url(admin/img/btncss.png) no-repeat 13px 5px;}
#reinitcss{border: 0;position: relative;left: -1px;padding: 0px 12px 3px 3px;width: 30px;height: 30px;background: url(admin/img/btncss.png) no-repeat 13px -24px;}
#toolChanges{display:none;margin: 0 10px 5px;background:#EBEBEB;border-radius:5px;border: 1px solid #E0E0E0;color: #919191;;font-size: 11px;}
#current_selector_update{letter-spacing: 1px;color: #555;font-size: 13px !important;border: 1px solid #C1C1C1 !important;width:100% !important;border-radius:initial !important;display:inline-block !important;position:relative !important;height: 30px !important;padding-left: 25px !important;background: #FFF !important;}
#panelcss{color: #444;line-height:25px}
#panelcss label{display: inline-block;min-width: 50px;}
#panelcss select, #panelcss input[type="range"],#panelcss input[type="text"] {	width: 38px;font-size: 11px;height: 17px;
	text-shadow: none;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45) inset, 0 1px 0 #E5E5E5;
	-moz-appearance: none;-webkit-appearance: none;	
	outline: none;border: 1px solid #C1C1C1;color: #333;border-radius: 2px;	background: #F2F2F2;
}
#panelcss select{width: 60px;height: 17px;position: relative;top: 4px;background: #f2f2f2 url("admin/img/select.png") no-repeat center right;border: 1px solid rgb(219, 219, 219);}
#panelcss input[type="range"] {	height: 6px;padding:0;}
#panelcss .panelcss_tab{padding: 8px;width: 230px;padding-top: 10px;background: #F9F9F9;}
#changecsscode{font-size: 11px;}
#panelcss_tab_background label{width: 100px;}
.adminbtnrightslide{color: #333;font-weight: bold;text-align: center;cursor:pointer;padding: 4px;
background: -webkit-linear-gradient(top, white, #F2F2F2);
background: linear-gradient(top, white, #F2F2F2);}

/* 3d Panel */
#threed{padding:7px;background:whiteSmoke;color: #777;}
#panelcss #threed  input[type="range"]{width:90%}

/* Panel CSS menu */
#css_menu{height: 45px;} 
#css_menu .cssTab {float: left;cursor: pointer;background-color: #f2f2f2;width: 20%;border-right: 1px solid #fcfcfc;border-left: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;height: 45px;}
#css_menu .cssTab:last-child {border-right:0}
#css_menu .cssTab.active,#css_menu .cssTab:hover {background-color: #F9F9F9;color: #444;border-left: 1px solid #F9F9F9;border-right: 1px solid #F9F9F9;border-bottom: 1px solid #F9F9F9;}
.cssTab[rel="panelcss_tab_general"]{background-image: url('admin/img/cssicons.png');background-position: -5px -10px;background-repeat: no-repeat ;}
.cssTab[rel="panelcss_tab_border"]{background-image: url('admin/img/cssicons.png');background-position: -57px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_background"]{background-image: url('admin/img/cssicons.png');background-position: -110px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_type"]{background-image: url('admin/img/cssicons.png');background-position: -160px -10px;background-repeat: no-repeat;}
.cssTab[rel="panelcss_tab_lists"]{background-image: url('admin/img/cssicons.png');background-position: -200px -10px;background-repeat: no-repeat;}
.cssTab:after{content: attr(data-title);position: absolute;top: 32px;font-size: 10px;text-align: center;width: 44px;max-width: 46px;line-height: 10px;height: 11px;}
.panelcss_tab.hiddenTab{display: none;}
#nbChanges{padding-left: 30px;color: #444;cursor:pointer;line-height: 30px;}
#listchanges{position: relative;background: #FAFAFA;border-radius: 0 0 5px 5px;line-height: 15px;z-index: 9;}
#listchanges .selector{padding:0 5px;cursor: help;}
#panelcss input[placeholder]{border:0;background: transparent;box-shadow: none;}
#panelcss input[placeholder]:focus{border: 1px solid rgb(193, 193, 193);background: #fff;}
/* When CSS panel is in code OR form mode */
.CSSCode #css_panel, .CSSForm #css_panel{display:block}
#panelcss.CSSForm #switchtovisuel,#panelcss.CSSCode #switchtocode{background: rgb(236, 236, 236);}

/* Shadow widget */
.panelPointer{width:40px;height:40px;background: rgb(241, 241, 241);position: relative;border: 1px solid rgb(204, 204, 204);}
.panelPointer .cross1{position: absolute;width:20px;height:20px;border-bottom:1px dashed #ccc;border-right:1px dashed #ccc}
.panelPointer .cross2{position: absolute;top:19px;left:19px;width:20px;height:20px;border-top:1px dashed #ccc;border-left:1px dashed #ccc}
.panelPointer .pointer{width: 8px;height: 8px;background-color: rgb(68, 68, 68);position: absolute;top: 15px;left: 15px;cursor: move;border-radius: 3px;}

/* When CSS panel is in code mode */
.CSSCode #changecsscode{display:block;background: #DDD;color: #164;}
.CSSCode #changecssform{display:none}
#changecsscode .selectorcss{color: #333;background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F9F9F9),color-stop(100%, #E3E4E6));background-image: -moz-linear-gradient(top, #F9F9F9, #E3E4E6);background-image: linear-gradient(top, #F9F9F9, #E3E4E6);position: relative;padding-left: 7px;line-height: 16px;}
#changecsscode .selectorcss small{color:#999}
#changecsscode .selectorTitle{margin-right: 39px;}
#changecsscode .gotoform{background-image: -webkit-linear-gradient(bottom,#818181,#A4A4A4);background-image: -moz-linear-gradient(bottom,#818181,#A4A4A4);border-bottom: 1px solid #7F7F7F;position: absolute;right: 0;top: 0;cursor: pointer;padding: 0 4px;border-radius: 0 0 0 3px;font-size: 10px;color: #FAFAFA;}
#changecsscode .gotoform:hover{background:#777;color:white}
#changecsscode .selectorcss b{overflow:hidden}
#changecsscode .activebtn{cursor:pointer;border-radius: 2px;width: 9px;background: #F1F1F1;line-height: 10px;margin: 3px 1px;
height: 11px;border: 1px solid #BBB;text-align: center;font-size: 12px;display: block;color: rgb(68, 68, 68);}
#changecsscode .activebtn:hover{background: #e1e1e1;color:#444;}
#changecsscode .csscode{width:100%;resize:none;border-radius: 0;border: 0;min-height: 20px;}
#css_panel{overflow: hidden;margin-top: 8px;}

/* --> code editor on code mode  */
.CSSLightproperty{color: #259bdb;white-space: pre;}
.CSSLightvalue{white-space: pre;color:#db249a}
.CSSLightother{color:black}
.CSSLightcontainer{position: relative;font: 11px Verdana, Arial, Helvetica, sans-serif;}
.CSSLighttexta{position: absolute;overflow-x: hidden;top: 0;outline: 0;width: 100%;white-space: nowrap;resize: none;font:inherit;max-height: 150px;
		padding:0px;margin:0;letter-spacing: 1px;padding-left:15px;line-height: 18px;border:0;
		-webkit-font-smoothing: antialiased;box-sizing: border-box;}
.CSSLighthilight{outline: 0;width: 100%;height: auto;white-space: nowrap;overflow: hidden;min-height: 20px;max-height: 150px;
		pointer-events: none;font:inherit;padding:0px;margin:0;letter-spacing: 1px;line-height: 18px;border: 0;
		-webkit-font-smoothing: antialiased;box-sizing: border-box;}
.CSSLightline{position:relative;padding-left:15px;min-height:18px;}
.CSSLightgutter{position:absolute;left:0;width:12px;height:20px;border-right: 1px solid #eeeeee;background: #f7f7f7; pointer-events: all;text-decoration: none;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.CSSLighthider{display: block;text-align: center;cursor: pointer;cursor: pointer;border-radius: 2px;width: 8px;background: #F1F1F1;
		line-height: 8px;margin: 5px 2px;height: 9px;border: 1px solid #BBB;text-align: center;
		font-size: 6px;display: block;color: #444;text-decoration: none}
.CSSLighthider:hover{background: #ccc;}
.CSSLightbarre{text-decoration: line-through}
.CSSLightbarre .CSSLighthider:after{content: "X"}
@-moz-document url-prefix() { 
	.CSSLighttexta{padding-left:14px;}
}

/* When CSS panel is in form mode */
.CSSForm #changecssform{display:block}
.CSSForm #changecsscode{display:none}
#changecssform{position: relative;width:100%;font-size: 11px;}
#changecssform input,#changecssform select{border:0 !important}

/*  Media queries */
#mediaqueriesdisplay{position: fixed;width: 100%;left: 0;bottom: 0;z-index: 99;padding-top: 10px;line-height: 10px;background-color: #272727;
border-top: 1px solid #111;background-image: url(admin/img/stripe.png);transition: all 0.5s;-webkit-transition: all 0.5s;}
#mediaqueriesdisplay.hide{height:0;padding: 0;}
#mediaqueriesdisplay.active{display:block}
#scopeMediaQueries{position: absolute;top: 0;bottom: 0;background-image: -webkit-linear-gradient(bottom, #333, #222);border-left: 1px solid #222;border-right: 1px solid #222;}
#mediaqueriesdisplay .mediaq{margin:3px 0;height: 11px;border: 3px solid #ddd;border-top: 0;position: relative;cursor: pointer}
#mediaqueriesdisplay .mediaq.active{border: 3px solid #2DC1EE;border-top: 0;}
#arrow-down {width: 0px;height: 0px;border-left: 10px solid rgba(0, 0, 0, 0);border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid #DFDFDF;position:absolute;top:0
}
#mdqlabel{position: absolute;left: 0;top: -21px;color: #B9B9B9;z-index: 2;font-size: 11px;background: #272727;padding: 5px;
border-radius: 0 10px 0 0;cursor: pointer;box-shadow: inset 0 1px 0 #3C3C3C;border: 1px solid #040404;border-bottom: 0;border-left: 0;}
.mediaq:before{position:absolute;display:block;content: attr(data-min);font-size: 9px;padding: 2px;top: -4px;color: #FFF;}
.mediaq:after{position:absolute;right:2px;display:block;content: attr(data-max);font-size: 9px;top: -2px;color: #FFF;}
#removeMDQ{display: inline-block;background: #f1f1f1;line-height: 8px;padding: 4px;border-radius: 5pc;margin-left: 5px;cursor: pointer}
#removeMDQ:hover{background: #ddd;}

/* When searching a selector */
.CSSSearch #css_panel{display:none}
.CSSSearchBTNS .ssTabCSS{background-image: url(admin/img/redo.png);background-repeat: no-repeat}

/* CSS Color Picker*/
#panelcss .colorpicker{z-index: 9;}
#panelcss .colorpicker input{background: transparent !important;}
.colorpicker2{width: 48px !important;border-radius: 2px 0 0 2px !important;}
.colorpicker3{background-image: url(admin/img/transparent.png);cursor:pointer;width: 17px;height: 18px;border: 1px solid #dfdfdf;border-left: 0;vertical-align: middle;margin-top: -3px;display: inline-block;}

/* CSS TOOL Metrics : margin, padding */
#metrics {margin-top: 15px;}
#metrics input{position:absolute}
#metrics .graph label {position: absolute;font-size: 9px;line-height: 11px;background-color: white;padding: 0 2px;color: #777;border: 1px solid #CCC;top: 0;right: 0;
border-top: 0;border-right: 0;min-width: initial;}
#metrics .margin {display: inline-block;background: whiteSmoke !important;text-align: center;}
#metrics .padding {border: 1px white dashed;display: inline-block;text-align: center;}
#panelcss .graph .representation{border-top: 1px solid gainsboro;border-right: 1px solid gainsboro;border-left: 1px solid gainsboro;border-bottom: 1px solid gainsboro;background: #E7E7E7;border-radius: 4px;}
#panelcss .graph input{width:33px}

/* CSS shadows */
#panelcss .shadowWidget label{min-width:40px}

/* CSS TOOL Background */
#panelcss_tab_background input[type="text"],#panelcss_tab_lists input[type="text"]{width: 114px;}
#panelcss_tab_background select{width: 114px !important;}

/* CSS TOOL Borders  */
#panelcss_tab_border_general select{width: 65px !important;}
.labels .borderMarkers{cursor:pointer;background: #ddd;position:absolute;width:18px;height:18px;box-shadow: 1px 1px 1px rgb(68, 68, 68);}
.labels .borderMarkers.active{box-shadow: none;border-top: 1px solid #777;border-left: 1px solid #777;}
.labels .borderMarkers div{height: 18px;}
.labels .borderMarkers.active div{height: 17px;}
.labels .borderMarkers.modifiedBorder div{border-color: #2DC1EE !important;}

/* Border radius */
.divrad{width:18px;height:18px;background: #ddd;display: inline-block;vertical-align: middle;}

.h-offset,.v-offset{width: 31px !important}

/* CSS TOOL Typography */
#panelcss_tab_type label{min-width: 45px;}
.optionDeco, .optionFontStyle, .optionAlign{cursor:pointer;width: 20px;height: 20px;background: #fff;display: inline-block;text-align: center;font-weight: bold;box-shadow: 1px 1px 1px #bbb;margin:0 5px}
.optionDeco.active, .optionFontStyle.active, .optionAlign.active {box-shadow: inset 1px 1px 1px #bbb;}

/* Font style */
.optionFontStyle{width: 40px;}

/* ############## Top Toolbar parts #####################*/

/* Top Toolbar Menu */
#toolbar a{color:#fff;text-decoration: none;}
#toolbar .menu a{line-height: 36px;padding:5px 15px;}
#toolbar .menu > li:hover{box-shadow: inset 1px 0px 7px #000;}
#toolbar .menu > li a{display: block;width: 100%;height:100%;padding: 0px 15px;}
#toolbar .menu li{float:left;}
#toolbar .menu li:hover{
background: #888;
background-image: -webkit-linear-gradient(top, #242424,#313131);
background-image: -moz-linear-gradient(top, #242424,#313131);
background-image: linear-gradient(top, #242424,#313131);
}
#toolbar .menu li:hover ul{display:block}
#toolbar .menu > li.subMenu > a{background-image: url(admin/img/fleche.png);background-position: 95% 15px; background-repeat: no-repeat;}
#toolbar .menu > li:hover > a{color:#fff;}
#toolbar .menu ul{display:none;z-index:2000;z-index: 1000000;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background: white;background: rgba(255, 255, 255, 0.97);position: absolute;border: 1px solid #DFDFDF;border-top: none;float:none}
#toolbar .menu ul li{float:none;border:0;position:relative}
#toolbar .menu ul li:hover {background: rgb(45, 193, 238);}
#toolbar .menu ul li a{color: #555;text-shadow: none;display:block;min-width:140px;line-height:30px;box-shadow: none;white-space: nowrap}

/* Change Resolutions / device */
#customReso{padding: 5px 15px;color:#bbb;white-space: nowrap;}
#customReso input::-webkit-inner-spin-button,#customReso input::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0; }
#customReso input{padding: 3px;border: 1px solid #E7E6E6;width: 65px;}
.changeVersion li{color: #555;cursor: pointer;min-width:140px;line-height:30px;white-space: nowrap;padding: 0px 15px}
.changeVersion li:hover{color: #FFF;}

/* Top Toolbar middle part */
#toolbar .orientation span{display: inline-block;background: url(admin/img/sprite_menu_admin.png)  0 0 no-repeat;padding-left:20px;height:16px;margin-left: 5px;cursor:pointer;margin-top:2px}
#toolbar .orientation span.landscape {background-position: 0 -32px; }
#info_themetype,#currentRes{text-transform: capitalize}

/* Icons */
.toolbarsprite, .toolbarspriteblack{line-height:26px;margin-left: 15px;display: inline-block;background-repeat:no-repeat}
.toolbarsprite{background-image: url(admin/img/sprite_menu_admin.png) !important}
.toolbarspriteblack{background-image: url(admin/img/sprite_menu_black.png);padding-left:25px !important; }
.multisite-icon{background-position: 2px -119px !important;width: 16px;height: 34px}
.info-icon{background-position: 0 -192px;width: 16px;height: 16px;margin-top: 10px}
.language-icon{background-position: 0 -25px;}
.userprofile-icon{background-position: 0 -87px !important;padding-left:20px;}
.close-icon{background-position:0 7px;width: 16px;height: 16px;margin-top: 5px}

/* ######### Conf box - Inline Popup ############## */
.conf_box{position:relative;display: inline-block;top:70px;max-width: 95%;max-height: 83%;visibility:hidden;opacity :0.6;transition: transform 0.3s, opacity 0.3s, left 0.3s;transform: scale(0.9);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, left 0.2s;-webkit-transform: scale(0.9);}
.conf_box.open{visibility:visible;transform: scale(1);-webkit-transform: scale(1);opacity :1;}
.popleft #conf_box_overlay{z-index: 99 !important;-webkit-perspective: 1500px;left:initial}
.popleft .conf_box{position:absolute;display:block;top:0;padding-top: 36px;left: 0;max-height: initial;bottom:0;height: 100% !important;-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;-webkit-transform-style: preserve-3d;	transform-style: preserve-3d;
	-webkit-transform: rotateY(45deg) scale(1);transform: rotateY(45deg) scale(1);opacity :1;}
.popleft .conf_box.open{left: 0;-webkit-transform: rotateY(0deg) scale(1);transform: rotateY(0deg) scale(1);}
.popleft #left_sidebar{box-shadow: none}
#conf_box_overlay{position: fixed;width:100%;height:100%;background: rgba(0, 0, 0, 0.85);z-index: 999;left:0}
/* preloader */
#conf_box_load{position:relative;top:150px;margin:0 auto;width:179px;height:14px;}
#conf_box_title{text-align: left;color: #777;padding: 10px;border: 0px;font-size: 16px;font-weight: normal;font-family: 'Segoe UI',Tahoma,Helvetica,sans-serif;background: #fafafa;border-bottom: 1px solid #ececec;}
#conf_box_close, #closemenu{margin: 11px 6px;z-index: 1;position: relative;cursor: pointer;background: url(admin/img/icons.png) -96px -128px;}
#conf_box_close{margin-right: 13px;}
#menu #closemenu{position: absolute;top: -6px;right: 0;}
#dialog-input{text-align: center;padding: 20px 0;background: #fafafa;}
#dialog-id{background-color: #fefefe;}
#dialog-ac{text-align: right;padding: 10px;background: #ececec;}
#dialog-ok{margin-right: 10px;background: rgb(45, 193, 238);color: white;}
#dialog-cancel{color: #777;background: #fafafa;box-shadow: none;border: 1px solid #ececec;}
.followingBalls{
background-color:#FAFAFA;position:absolute;top:0;left:0;width:14px;height:14px;border-radius:7px;
-webkit-border-radius:7px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
animation-name:bounce_followingBallsG;
animation-duration:1.1s;
animation-iteration-count:infinite;
animation-direction:linear;
}
#followingBalls_1{-webkit-animation-delay:0s;animation-delay:0s;}
#followingBalls_2{-webkit-animation-delay:0.11s;animation-delay:0.11s;}
#followingBalls_3{-webkit-animation-delay:0.22s;animation-delay:0.22s;}
#followingBalls_4{-webkit-animation-delay:0.33s;animation-delay:0.33s;}
@-webkit-keyframes bounce_followingBallsG{
	0%{left:0px;background-color:#FAFAFA;}
	50%{left:166px;background-color:#FFFFFF;}
	100%{left:0px;background-color:#FAFAFA;}
}
@keyframes bounce_followingBallsG{
	0%{left:0px;background-color:#FAFAFA;}
	50%{left:166px;background-color:#FFFFFF;}
	100%{left:0px;background-color:#FAFAFA;}
}
/* /preloader */

.dbdesigner{position: absolute;left:2px;top:3px;cursor: alias;}

/* Blocks droppables */
.admin_core_block{float: left;position: relative;cursor:move;width: 42px;height: 42px;margin:4px 12px;padding: 0;border-radius: 2px;box-shadow: 0 1px 3px rgb(145, 145, 145);margin-bottom: 28px;}
.admin_core_block:after{content: attr(data-title);
position: absolute;color: rgb(68, 68, 68);top: 48px;font-size: 10px;text-align: center;
width: 64px;line-height: 10px;overflow: hidden;height: 20px;left: -12px;}

/* ############## Admin UI ################## */

/* Resizable */
#parsimonyDND{position: absolute;display:none;text-align: center;box-shadow: 0 0 3px #00aaff;z-index: 99999;}
.parsimonyResize{position: absolute;display:none; display: block; width: 10px; height: 10px;border: 1px solid #00aaff;border-radius:4px;pointer-events:all}
.parsimonyResize.se{ right: -5px; bottom: -5px;cursor: se-resize;}
.parsimonyResize.nw{ left: -5px; top: -5px;cursor: nw-resize;display:none}
.positionOK .parsimonyResize.nw{ display:block}
.parsimonyResize.ne{ right: -5px; top: -5px;cursor: ne-resize;display:none}
.positionOK .parsimonyResize.ne{ display:block}
.parsimonyResize.sw{ left: -5px; bottom: -5px;cursor: sw-resize;display:none}
.positionOK .parsimonyResize.sw{ display:block}
.parsimonyResizeInfo{pointer-events: all;white-space: nowrap;height: 28px;border-radius: 3px;position: absolute;font-size: 10px;top: -36px;line-height: 19px;box-shadow: 0px 0px 3px black;
background-color: #f9f9f9;
-webkit-filter: drop-shadow(0px 0px 3px #000);
-webkit-box-shadow: none;
}
.parsimonyResizeInfo .toolbarButton {pointer-events:all;display: inline-block;padding:6px 4px;border-right: 1px solid #E2DFDF;border-left:1px solid #FFFFFF;}
.spanDND{background: url(admin/img/icons.png) -96px -128px;width: 16px;height: 16px;overflow: hidden;display: block}
.parsimonyResizeInfo .toolbarButton:hover{background: #ececec;}
#resizeinfo{line-height: 9px;display: inline-block;padding-left: 5px;}
.parsimonyMove{display: none;pointer-events:all;top: 45%;position: relative;width:16px;height:16px;border: 1px solid #00aaff;border-radius:4px;}
.positionOK .parsimonyMove{display: inline-block;cursor: move}
#idName{vertical-align: top;margin: 5px;display: inline-block;}

/* Overlays */
#overlays{position:absolute;top:35px;left:0;pointer-events: none;width:100%;height:100%;z-index: 2;-webkit-user-select: none;-moz-user-select: none;user-select: none;}

/* Block overlay */
#blockOverlay{pointer-events: none;position: absolute;top:0;left:0;-webkit-transition: all 0.1s;-moz-transition: all 0.1s;/* too slow */background-color:rgba(5,178,248,0.10)}

/* Shelter for unused div*/
#shelter > div{display:none;}

/*translation*/
.translate{border: 2px solid #6C9;border-style: dotted;}

/* CSSpicker */
#selectorcontainer{position: relative;min-width: 230px;}
#csspicker{z-index: 1;padding: 3px;padding-top: 7px;cursor:pointer;width: 23px;height:28px;position: absolute;top:1px;border-right:1px solid #E0E0E0;background: #f1f1f1;}
#csspicker:hover,#csspicker.active{background-color: #dfdfdf}


/* explorer */
.explorer{float:right;cursor:pointer;margin-right: 15px;}

/* Notify */
#notify{border-radius: 0 0 5px 5px;border: solid #DDD 1px;border-top:0;position: fixed;top: 36px;left: 30%;padding: 2px 30px;z-index: 999998;display: none;width: 600px;text-align: center;font-family:'Segoe UI',Tahoma,Helvetica,sans-serif;font-size: 14px;padding: 3px 0;}
#notify.positive{color: rgb(32, 44, 8);background: #A2E01B;border: solid rgb(97, 126, 39) 1px;border-top: 0;}
#notify.negative{color: rgb(255, 255, 255);background: #cb2d33;border: solid #cb2d33 1px;}
#notify.normal{color: rgb(255, 255, 255);background: rgb(45, 193, 238);border: solid rgb(45, 193, 238) 1px;}

/* Menu link trad */
#menu{font-size:12px;position:absolute;border:1px #888 solid;padding:2px;border-radius:4px;z-index:998;box-shadow: 1px 1px 3px #888;color: #444;border-color: #C1C1C1;background: #f9f9f9;}
#menu .option{border-top: white solid 1px;border-bottom: #E0E0E0 solid 1px;padding: 5px;clear:both;white-space: nowrap;}
#menu .option:last-child{border-bottom:0}
#menu .option:hover,#CSSProps a:hover{background:#eee;cursor:pointer}
#menu .ui-icon{position: relative;top:-3px}
#menu h5{padding: 4px 8px;line-height: 16px;font-size: 13px;font-weight: normal;color: #fff;letter-spacing: 1.1px;border-radius: 2px;
background: -webkit-linear-gradient(bottom,#828282,#777);
background: -moz-linear-gradient(bottom,#828282,#777);
margin:0}
#menu a{color: #333;text-decoration: none;display: block;width: 100%;}

/* block toolbar */
.toolbarButton{position:relative;}
#CSSProps{z-index: 999;position: absolute; top: 28px;background: #F9F9F9;text-align: left;left: 0;opacity:0.93}
.toolbarButton:hover #CSSProps{display:inline-block !important}
#CSSProps a{line-height:23px;padding: 0 5px;clear:both;border-bottom: #E0E0E0 solid 1px;display:block;text-decoration: none;color: #444;font-size: 11px;}
#CSSProps a:last-child{border-bottom:0}

/* madia queries */
.mediaQueriesTitle{padding: 3px;background: #F5F3F3;color: #444;font-size: 9px;line-height: 13px;}
#mediaquerieslabel{font-size: 11px;display: inline-block; padding: 3px 15px;}
#btnmedia{width: 29px;height: 8px;margin-bottom: -1px;background:#D3D3D3;border-radius:80px;position:relative;
			box-shadow:inset 0 1px 2px #AAA;}
#checkmedia{display:none;}
#labelmedia{cursor: pointer;display: inline-block;}
#checkmedia + #labelmedia span{position: absolute;background: #FFF;display: block;
	left: -2px;top: -1px;width: 10px;height: 10px;transition: .1s;border-radius: 25px;box-shadow: 0 1px 2px #AAA;}
#checkmedia:checked + #labelmedia span{margin-left:25px;}
#checkmedia:checked + #labelmedia #btnmedia{background:#44C5EC;}

/* Fix wysiwyg */
#HTML5editorToolbar button{min-width: initial !important;}
.HTML5Editor ul{list-style: disc outside none;padding-left:40px;margin:12px 0 }

/* ################ Hacks tricks ################## */
[draggable] {-moz-user-select: none;-webkit-user-select: none;user-select: none;}

/* ################ Icon CSS Sprite ################## */
.sprite {background-image: url(admin/img/defaultsprite.png);background-repeat: no-repeat;display: inline-block;}
.sprite-arrow{ background-position: 0 -222px; width: 20px; height: 20px; } 
.panelblocks{ background-position: 9px -361px; } 
.sprite-db_small{ background-position: 0 -440px; width: 16px; height: 17px; } 
.sprite-dbicon{ background-position: 0 -507px; width: 24px; height: 24px; } 
.sprite-dbiconON{ background-position: 0 -581px; width: 24px; height: 24px; } 
.themes{ background-position: 7px -648px; } 
.sprite-filesicon{ background-position: 0 -729px; width: 24px; height: 24px; } 
.sprite-filesiconON{ background-position: 0 -803px; width: 24px; height: 24px; } 
.sprite-fleche{ background-position: 0 -877px; width: 6px; height: 6px; } 
.modules{ background-position: 7px -1002px; } 
.sprite-module{ background-position: 0 -1141px; width: 16px; height: 16px; } 
.sprite-picker{ background-position: 0 -1275px; width: 16px; height: 16px; } 
.sprite-pickericon{ background-position: 0 -1341px; width: 24px; height: 24px; } 
.sprite-pickericonON{ background-position: 0 -1415px; width: 24px; height: 24px; } 
.sprite-savecss{ background-position: 0 -1554px; width: 24px; height: 24px; } 
.paneltree{ background-position: 7px -1621px; } 
.panelcss{ background-position: 7px -1695px; }
.sprite-dir{ background-position: 6px; display: block ;background-image: url(admin/img/folder-open.png);}
.sprite-bdd{ background-position: 4px -504px;display: block;background-position: 5px;margin-left: 12px;background-image: url(admin/img/database2.png); } 
.sprite-csspicker{ background-position: 4px -1338px;display: block }
.sprite-csspickerlittle{ background-position: -3px -1388px;display: block }
.manage{background-position: 9px 6px;background-image: url(admin/img/cog.png);}

/* Tabs mode */
.switchMode:first-child{border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.switchMode:last-child{border-radius: 0 2px 2px 0;}

li.switchMode {text-align: center;margin: 0;font-size: 14px;padding: 3px 12px 3px 12px;cursor: pointer;
background: -webkit-linear-gradient(#313131,#242424);
background: -moz-linear-gradient(#313131,#242424);
background: linear-gradient(#313131,#242424);
box-shadow: inset 0 1px 0 #3c3c3c;border: 1px solid #040404;
border-right-width: 0;float: left;display: block;outline: none;}

#editMode {border-right: 0;border-left: 1px solid rgb(0, 0, 0);}
#creationMode {border-left: 1px solid rgb(0, 0, 0) !important;}
#creationMode.selected {text-align: center;border-right: 0;border-left: 1px solid rgb(0, 0, 0) !important;}
.creation,.edit{display:none} /* preview mode by default  */
.creationMode .creation{display:block}
.editMode .edit{display:block}
.creationMode #left_sidebar, .creationMode #right_sidebar{display:block}
.editMode #left_sidebar, .editMode #modules{display:block}
.editMode #panelblocks{display:none}

.switchMode.selected, .switchMode.selected:hover {
cursor: pointer;border: 1px solid rgb(0, 0, 0);box-shadow: none !important;
background-image: -webkit-linear-gradient(top, #44C5EC, #259BDB) !important;
background-image: -moz-linear-gradient(top, #44C5EC, #259BDB) !important;
background-image: linear-gradient(top, #44C5EC, #259BDB) !important;}

#modesSwitcher {margin: 0px;padding-left: 0px;border-radius: 4px;border: 1px solid #363738;}

.editMode .parsiTitle{display: none}
