body{overflow: hidden;}
/* Tabs */
.tabs ul {overflow: hidden;margin: 6px 0 5px 20px;}
.tabs ul li.active {border-bottom: 3px solid rgb(45, 193, 238);}
.tabs ul li {display: inline-block;position: relative;color: #333;float: left;padding: 0px;cursor: pointer;text-align: center;}
.tabs ul li a {text-align: center;padding: 0 10px;color: #333;text-decoration: none;line-height: 30px;display: block;}
.adminzone{height:100%;width:100%;position: absolute;font-family:'Segoe UI',Tahoma,Helvetica,sans-serif;min-height: 600px;min-width: 600px;background: #fefefe;}
/* Pagination */
.pagination a {display: inline-block;color: #444;border-bottom: 2px solid transparent;padding: 5px;text-decoration: none;margin-top: 10px;margin-left: 10px;}
.pagination a.active,.pagination a:hover{border-bottom: 2px solid rgb(45, 193, 238);}

.adminzone th,.adminzone thead{text-align:left;}
.adminzone thead{border: 0;color: #464646;}
.adminzone th:first-child,.adminzone td:first-child{padding-left:15px}
.adminzone th:last-child,.adminzone td:last-child{padding-right:15px}
.adminzone th{line-height: 28px;}
#tabsconfig th{min-width: 80px;} 
.adminzone td{vertical-align: middle;border: 1px solid #f0f0f0;border-left:0;border-right:0;text-align: left;text-overflow:ellipsis;}
.adminzone tbody tr{background:white}
.adminzone .adminzonemenu{width: 150px;position: absolute;left: 0;top: 40px;bottom: 0;z-index: 99999;background: #fafafa;padding-top: 10px;}
.adminzone .adminzonemenu h2{color: #555;padding: 5px 10px;font-size: 15px;}
.adminzone .adminzonemenu .adminzonetab{cursor:pointer;font-size: 14px;line-height: 24px}
.adminzone .adminzonemenu .adminzonetab a{border-top: 1px solid transparent;
color: #464646;
text-decoration: none;
display: block;
line-height: 30px;
padding-left: 29px;
border-left: 3px solid transparent;}
.adminzone .adminzonemenu .adminzonetab a.active:after {
right: 0;
position: absolute;
width: 0px;
height: 0px;
border-style: solid;
border-width: 13px 13px 13px 0;
border-color: transparent #fefefe transparent transparent;
content: "";
}
.adminzone .adminzonemenu .adminzonetab a.active,.adminzonemenu .adminzonetab a:hover {background: #ececec;border-left: 3px solid rgb(45, 193, 238);}
.adminzone .save{z-index: 999;position: relative;margin: 5px 20px;float: right;
text-shadow: 0 1px rgba(0, 0, 0, 0.35);border-radius: 5px;border: 1px solid rgb(7, 130, 214);
text-decoration:none;color: white;line-height: 25px;cursor: pointer;font-size: 15px;padding: 2px 10px;
background : webkit-gradient(top, #44C5EC, #259BDB);
background : -webkit-linear-gradient(top, #44C5EC, #259BDB);
background : -moz-linear-gradient(top, #44C5EC, #259BDB);}
.adminzone .save:hover{
background : webkit-gradient(top, #44C5EC, rgb(21, 107, 155));
background : -webkit-linear-gradient(top, #44C5EC, rgb(21, 107, 155));
background : -moz-linear-gradient(top, #44C5EC, rgb(21, 107, 155));
background : linear-gradient(top, #44C5EC, rgb(21, 107, 155));}
.adminzone .save:active{box-shadow: inset 1px 1px 1px #444;}
.adminzone .adminzonemenu h3{font-size:16px}
.adminlist{text-overflow:ellipsis;line-height: 20px;padding: 5px 15px;color: #666;text-shadow: white 0 1px 0;text-decoration: none;cursor: pointer;font-weight: bold;
			font-size: 16px;border-top: 1px solid white;border-bottom: 1px solid #D3D5DB;cursor: pointer;}
.admintabs{display:none;} 
#tabsconfig .admintabs{margin: 0 30px;}
.adminzonecontent{position:absolute;padding: 3px 7px;bottom:40px;top:40px;right:0;left: 150px;font-size: 12px;background: #fefefe;overflow: hidden;overflow-y: auto;min-width: 731px;min-height: 500px;}
.adminzonecontent h2{font-size: 20px;line-height: 30px;font-weight: normal;margin: 0;color: #777;padding: 10px;text-shadow: white 0 1px 0;} 
.adminzonefooter{position: absolute;bottom: 0;background: #fafafa;width: 100%;left: 0;right:0;z-index: 9999;height: 40px;}
.adminzonecontent #tabsconfig h2{padding: 10px 0;}
/* Model Forms*/
.adminzonecontent .cols{display: table;/*display: -webkit-box;display: -moz-box;display: box;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;*/}
.adminzonecontent .col1 {margin: 0px 22px 0px 0px;min-width:531px;display:table-cell;vertical-align: top;/*-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;*/
 background-color: whiteSmoke;
background-image: -webkit-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: linear-gradient(top,#F9F9F9,whiteSmoke);
border-color: #DFDFDF;
box-shadow: inset 0 1px 0 white;
border-radius: 3px;
position: relative;
margin-bottom: 20px;
padding: 0;
border-width: 1px;
border-style: solid;
line-height: 1;
padding: 10px;
position:relative;
}
.adminzonecontent .col2 > div{
background-color: whiteSmoke;
background-image: -webkit-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: linear-gradient(top,#F9F9F9,whiteSmoke);
border-color: #DFDFDF;
box-shadow: inset 0 1px 0 white;
border-radius: 3px;
position: relative;
min-width: 255px;
margin-bottom: 20px;
border-width: 1px;
border-style: solid;
line-height: 1;
padding: 10px;
position:relative;
padding-top:40px;
}
.adminzonecontent .col2{padding: 0 20px;min-width:250px;max-width: 350px;display:table-cell;vertical-align: top;/*-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;*/}
.adminzonecontent .col2 > div > label .ui-icon{position: absolute;right: 5px;top: 6px;}
.adminzonecontent .col2 > div > label{color: #464646;
border-bottom-color: #DFDFDF;
text-shadow: white 0 1px 0;
box-shadow: 0 1px 0 white;
background-color: #F1F1F1;
background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
background-image: linear-gradient(top,#F9F9F9,#ECECEC);
font-size: 15px;
font-weight: normal;
padding: 7px 10px;
margin: 0;
line-height: 1;
margin-top: 1px;
border-bottom-width: 1px;
border-bottom-style: solid;							 
border-top-left-radius: 3px;
border-top-right-radius: 3px;
display: block;
border-bottom-color: #DFDFDF;
text-shadow: white 0 1px 0;
box-shadow: 0 1px 0 white;
position:absolute;
top:0;
left:0px;
width:100%;
text-transform:capitalize;
margin: 0px 7px 10px 0;
}
.adminzonecontent h2 input[type="submit"] {border-radius: 2px;color: white;font-size: 13px;background: #259bdb;border: none;box-shadow: none;text-shadow: 0 1px rgba(0, 0, 0, 0.35);margin: 0 5px;line-height: 23px;}
.adminzonecontent h2 input[type="submit"]:hover {background-image: -webkit-linear-gradient(top, #44C5EC, #259BDB);background-image: linear-gradient(top, #44C5EC, #259BDB);}

legend{display: block;
		text-transform: capitalize;
		margin: 4px 7px 0px 5px;
		color: #464646;
		padding: 3px 7px;
		font-size: 14px;
		border: 1px solid #DFDFDF;
		border-radius: 5px;
		background-color: #F1F1F1;
		background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
		background-image: linear-gradient(top,#F9F9F9,#ECECEC);}
fieldset {
		border: 1px solid #CCC;
		border-radius: 8px;
		padding: 10px;
		background: #F9F9F9;}

/* Panel */
.panel{position: relative;}

#conf_box_title{text-align: left;
color: #333;
padding: 10px;
border: 0px;
font-size: 20px;
font-weight: normal;
border-radius: 5px 5px 0 0;
font-family: 'Segoe UI',Tahoma,Helvetica,sans-serif;background: #fafafa;}
#conf_box_close, #closemenu{margin:11px 6px;z-index: 1;position: relative;border-radius: 5px;cursor: pointer;background: url(admin/img/icons.png) -96px -128px;}
#conf_box_close{margin-right: 13px;}
#conf_box_close:hover{background-color: #E4E4E4;}
.remitem {float: right;padding: 0 5px;cursor: pointer;}
.remitem::before {position: relative;color: #c0ee2d;font-weight: bold;content: "\2713";}
.remitem:hover::before{position: relative;color: #ee5a2d;font-size: 25px;font-weight: bold;content: "\d7";top: -9px;left: 3px;}