* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{font-family:'Segoe UI',Tahoma,Helvetica,sans-serif;}
ul{list-style: none;padding:0;margin:0;}
/* Shorhand styles for admin */
.floatleft{float:left}
.floatright{float:right}
.clearboth{clear:both;}
.inline{display:inline}
.inline-block{display:inline-block;vertical-align:top}
.bold{font-weight: bold;}
.none{display:none}
.align_center{text-align:center}
.align_left{text-align:left}
.align_right{text-align:right}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}  

/* ScrollBar for Webkit */
.cs{overflow: hidden;overflow-y: auto;height:100%;}
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track-piece{background-color:#CCC}
::-webkit-scrollbar-button:vertical{background-color:#777;height:5px}
::-webkit-scrollbar-thumb:vertical{background-color:#777;height:50px;border:0;}
::-webkit-scrollbar-corner:vertical{background-color:#777}
::-webkit-scrollbar-resizer:vertical{background-color:#777}
::-webkit-scrollbar-button:start:decrement{display:none}
::-webkit-scrollbar-button:end:increment{display:none}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button:vertical:start:increment{display:none}
::-webkit-scrollbar-button:vertical:end:decrement{display:none}
body::-webkit-scrollbar{width:0}
/* Footer ScrollBar for Webkit */

.fs{overflow: hidden;overflow-x: auto;width: 100%;}
::-webkit-scrollbar{height:12px;}
::-webkit-scrollbar-track-piece{background-color:#CCC;}
::-webkit-scrollbar-button:horizontal{background-color:#bbb;width:7px }
::-webkit-scrollbar-thumb:horizontal{background-color:#bbb;width:50px;border:0; }
::-webkit-scrollbar-corner:horizontal{background-color:#bbb;}
::-webkit-scrollbar-resizer:horizontal{background-color:#bbb;}
::-webkit-scrollbar-button:horizontal:start:increment{display:none}
::-webkit-scrollbar-button:horizontal:end:decrement{display:none}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button:vertical:start:increment{display:none}
::-webkit-scrollbar-button:vertical:end:decrement{display:none}
#panelcss ::-webkit-scrollbar{height:7px;}
/* UI Google Style */

/* Select webkit */
select:enabled:hover {box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);color: #333;background-image: url("admin/img/select.png");background-color: #F1F1F1;border-top: 1px solid #f1f1f1 !important;}
select {padding: 3px 0;background-position: center right;background-repeat: no-repeat;color: #555;font-size: inherit;margin: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-appearance: button;appearance: button;border-radius: 2px;-webkit-padding-end: 15px;-moz-padding-end: 0px;-webkit-padding-start: 2px;-moz-padding-start: 0px;-moz-user-select: none;-webkit-user-select: none;user-select: none;background-image: url("admin/img/select.png");border: 1px solid #ECECEC !important;max-width: 255px;}
@-moz-document url-prefix() { 
	select{-moz-appearance: none;text-indent: 1px; text-overflow: "";}
}
select:enabled:hover[multiple]{	background: none;}
/* Textarea and Inputs */
textarea, input[type="text"], input[type="password"], input[type="file"], input[type='email'] {
border-style: none;
padding: 4px;
text-shadow: 0px 1px 0px white;
outline: none;
border: 1px solid #ECECEC;
color: #333;
border-radius: 1px;
background: white;
}
/* Textarea and Inputs  : hover and Focus */
input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="file"]:hover, input[type="file"]:focus {

}

/* Buttons */
button,input[type='button'],input[type='submit'] {
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-user-select: none;
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border: 1px solid #aaa;
	color: #444;
	font-size: inherit;
	margin-bottom: 0px;
	min-width: 4em;
padding: 3px 12px 3px 12px;
}
button:hover,input[type='button']:hover,input[type='submit']:hover {
	background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #ebebeb linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
	border-color: #999;
color: #222;
}
button:active,input[type='button']:active,input[type='submit']:active {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
	background: #ebebeb linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
	color: #333;
}
button[disabled],input[type='button'][disabled],input[type='submit'][disabled],button[disabled]:hover,input[type='button'][disabled]:hover,input[type='submit'][disabled]:hover {
	box-shadow: none;
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border-color: #aaa;
	color: #888;
}

/* Checkbox and radio */
input[type="checkbox"], input[type="radio"]{
	position: relative;
	background: rgba(191,185,169,.2);
	height: 16px;
	cursor: pointer;
	border-radius: 3px;
	width:16px;
	outline: none;
	-webkit-appearance:none;
	box-shadow: 0 1px 2px rgba(0,0,0,.44) inset, 0 1px 0 rgba(255,255,255,.54);
}
input[type="checkbox"]:hover, input[type="radio"]:hover {
	background-color: rgba(191,185,169,.4)
}
input[type="radio"] {
	border-radius: 25px;
}
input[type="checkbox"]:checked {
	background-color: rgba(191,185,169,.2);
}
input[type="checkbox"]:checked:after {
	content: "✔";
    width:16px;
    height:16px;
	font-size: 12px;
	padding: 1px 3px;
    margin:0;
	color: #555;
	position: absolute;
}

input[type="radio"]:checked:after {
	content: "●";
	position: relative;
	top: -4px;
	left: 3px;
	font-size: 16px;
	padding: 0;
	color: #555;
	position: absolute;
}

/* Sliders */
input[type="range"]{
-webkit-appearance: none !important;
background-color: whiteSmoke;
border-radius: 10px;
border: 1px solid #CCC;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	width: 10px;
	height: 8px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,1);
	cursor: pointer;
	border-top: 1px solid #fff;
	background: #ccc;
}

/* datagrid */
.datagrid{width: 100%; }
.datagrid .line{cursor: pointer;height:30px;line-height: 40px;}
.datagrid .line:nth-child(even){background: #fbfbfb}
.datagrid .line:nth-child(odd){background: #FFF}
.datagrid .column{overflow:hidden;max-width:100px;width:auto}
.datagrid .line:hover td:not([rowspan]){border-color: #DDD;background-color: #EFEFEF;}
.datagrid_title{max-width: 300px !important;text-align: left !important;}
.selecttr{border-style: dotted;border-color: #A3BAE9;background-color: #DFE8F6;}
.datagridWrapper{width: 100%;overflow-x: auto;}

/* forms placeholder */
.placeholder{position:relative;clear: both}
.placeholder > label{position: absolute;display: block;text-transform: capitalize;margin: 5px 7px 0px 0px;color: #464646;padding: 3px 7px;font-size: 14px;border-bottom: 0px;border-top-left-radius: 2px;border-top-right-radius: 2px;background-color: #F1F1F1;}
.placeholder input[type='text'],.placeholder input[type='date'],.placeholder input[type='email'],.placeholder input[type="password"],.placeholder select,.placeholder textarea{margin: 25px 0px 3px;width:100%;}
.placeholder .publishcl input[type='text'].addyyyy{width: 40px;}
.placeholder input[type="range"] {-webkit-appearance: none !important;background-color: whiteSmoke;border-radius: 10px;border: 1px solid #CCC;margin: 25px 0px 3px;}
.col2 .placeholder input[type='text'],.col2 .placeholder select,.col2 .placeholder textarea{margin: initial;width:auto;}
.col2 .placeholder label{border:0}
.placeholder .tooltip{position: absolute;right: -19px;top: 1px;}
.placeholderRange{padding: 0 3px;}
.placeholder .uploadimg{padding: 25px 0px;}
.placeholder .field-image-inputText a,.placeholder field-image-fileName a{color: #464646;}
.placeholder .publishcl{clear: both;font-size: 13px;color: #333;text-shadow: 0px 1px 0px white;padding-top: 8px;}
.placeholder .publishcl input[type="text"]{width: 25px;}
.placeholder .publishcl select{vertical-align: top;height: 26px;width: 70px;font-size: 13px;}
.placeholder .pubstatus input[type="button"]:nth-child(2) {border-left: none;border-right: none;}


/* ################ Icon CSS Sprite of Jquery UI ################## */
.ui-icon {padding: 8px 9px 8px 7px; width: 16px; height: 16px;background-color:transparent; background-image: url(admin/img/icons.png);display: block;overflow: hidden;}
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-closethick {background-position: -96px -128px;}
.ui-icon-wrench {background-position: -176px -112px;}
.ui-icon-pencil {background-position: -64px -112px;}
.ui-icon-circle-close {background-position: -32px -192px;}
.ui-icon-arrowthickstop-1-s {background-position: -224px -48px;}
.ui-icon-carat-1-e {background-position: -32px 0;}
.ui-icon-arrowrefresh-1-w {background-position: -128px -64px;}
.ui-icon-folder-open {background-position: -16px -96px;}
.ui-icon-trash {background-position: -176px -96px;}

:invalid{background: #fff no-repeat 98% center;box-shadow: 0 0 5px #ffeded;border-color: #ffeded}
input[required]:after{content: "*";position: absolute;color: #df4e1e;right: 1%;top: 50%;font-size: .8em;}
textarea[required]:after{content: "*";position: absolute;color: #df4e1e;right: 1%;top: 20%;font-size: .8em;}
