

#homeimg {
	position : relative ;
	behavior : url(/lib/csspie/PIE.htc) ;
}

#menu {
}

#lastposts .publicationGMT {
box-shadow: inset -1px -1px 1px white, inset 1px 1px 1px white;
display: inline-block;
vertical-align: top;
width: 10%;
font-size: 16px;
text-align: center;
border-radius: 5px;
border: 1px solid #CCC;
margin: 3% 2% 2% 1%;
padding: 2px;
text-transform: capitalize;
background: #F2F2F2;
color: #999;}

#lastposts {
margin: 1%;
font-family: arial;}

#lastposts .author {
color: #999;
font-size: 12px;
text-transform: capitalize;
line-height: 20px;}

#lastposts .title {
	display : inline-block ;
	width : 85% ;
	position : relative ;
	text-decoration : none ;
	behavior : url(/lib/csspie/PIE.htc) ;
}

#lastposts .title a {
text-decoration: none;
color: #09F;
font-size: 20px;
line-height: 25px;
text-transform: capitalize;}

#lastposts .content {
display: inline-block;
 width: 85%; 
height: 94px; 
overflow: hidden; 
font-size: 16px; 
line-height: 16px; 
color: rgb(85, 85, 85);}

#lastposts .itemscope {
border-bottom: 1px dotted #CCC;}

#ssmenu .parsimenu {
	z-index : 9999 ;
	margin : 0 ;
	line-height : 100% ;
	box-shadow : 0 1px 3px rgba(0, 0, 0, .4) ;
	background : -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a) ;
	filter : progid ;
	border : solid 1px #6d6d6d ;
}

#ssmenu .parsimenu li {
	z-index : 9999 ;
	float : left ;
	position : relative ;
	list-style : none ;
}

#ssmenu .parsimenu a {
	font-weight : bold ;
	color : #e7e5e5 ;
	text-decoration : none ;
	display : block ;
	padding : 8px 20px ;
	margin : 0 ;
	text-shadow : 0 1px 1px rgba(0, 0, 0, .3) ;
}

#ssmenu .parsimenu .current a {
	background : -moz-linear-gradient(top,  #ebebeb,  #a1a1a1) ;
	filter : progid ;
	color : #444 ;
	border-top : solid 1px #f8f8f8 ;
	box-shadow : 0 1px 1px rgba(0, 0, 0, .2) ;
	text-shadow : 0 1px 0 rgba(255, 255, 255, .8) ;
}

#ssmenu .parsimenu li:hover > a {
	background : -moz-linear-gradient(top,  #ebebeb,  #a1a1a1) ;
	filter : progid ;
	color : #444 ;
	border-top : solid 1px #f8f8f8 ;
	box-shadow : 0 1px 1px rgba(0, 0, 0, .2) ;
	text-shadow : 0 1px 0 rgba(255, 255, 255, .8) ;
}

#ssmenu .parsimenu ul li:hover a {
	background : none ;
	border : none ;
	color : #666 ;
	box-shadow : none ;
}

#ssmenu .parsimenu li:hover li a {
	background : none ;
	border : none ;
	color : #666 ;
	box-shadow : none ;
}

#ssmenu .parsimenu ul a:hover {
	background : -moz-linear-gradient(top,  #04acec,  #0186ba) !important ;
	filter : progid ;
	color : #fff !important ;
	text-shadow : 0 1px 1px rgba(0, 0, 0, .1) ;
}

#ssmenu .parsimenu ul {
	z-index : 9999 ;
	background : -moz-linear-gradient(top,  #fff,  #cfcfcf) ;
	filter : progid ;
	display : none ;
	margin : 0 ;
	padding : 0 ;
	width : 185px ;
	position : absolute ;
	left : 0 ;
	border : solid 1px #b4b4b4 ;
	box-shadow : 0 1px 3px rgba(0, 0, 0, .3) ;
}

#ssmenu .parsimenu li:hover > ul {
	display : block ;
}

#ssmenu .parsimenu ul li {
	z-index : 9999 ;
	float : none ;
	margin : 0 ;
	padding : 0 ;
}

#ssmenu .parsimenu ul a {
	font-weight : normal ;
	text-shadow : 0 1px 1px rgba(255, 255, 255, .9) ;
}

#ssmenu .parsimenu ul ul {
	z-index : 9999 ;
	left : 185px ;
	top : -1px ;
}

#ssmenu .parsimenu:after {
	content : "." ;
	display : block ;
	clear : both ;
	visibility : hidden ;
	line-height : 0 ;
	height : 0 ;
}

#ssmenu .parsimenu.vertical ul {
	left : 100% ;
	top : 0 ;
}

#ssmenu .parsimenu.vertical li {
	float : none ;
}

#tags .xsmall {
	font-size : x-small ;
}

#tags .small {
	font-size : small ;
}

#tags .medium {
	font-size : medium ;
}

#tags .large {
	font-size : large ;
}

#tags .xlarge {
font-size : x-large ;}

#tags {
	width : 49% ;
	position : relative ;
	display : inline-block ;
	behavior : url(/lib/csspie/PIE.htc) ;
	border-width : 1px 0 0 1px ;
	border-color : #DDD #000 #000 #DDD ;
	border-style : solid ;
}

#categories {
width : 49% ;
position : relative ;
display : inline-block ;
behavior : url(/lib/csspie/PIE.htc) ;}

#tags li {
position: relative;
 font-size: 18px !important;
background: white;
padding-left:30px;
border-bottom: 1px solid #DDD;}

#tags li a {
}

#tags a {
font-size:16px !important;
text-transform: capitalize;
text-decoration: none;
color: #1A74B0;
font-size: 20px;
line-height: 30px;
font-weight: bold;
cursor: pointer;
text-shadow: 0 1px 1px white;}

#categories a {
font-size:16px !important;
text-transform: capitalize;
text-decoration: none;
color: #1A74B0;
font-size: 20px;
line-height: 30px;
font-weight: bold;
cursor: pointer;
text-shadow: 0 1px 1px white;}

#categories li {
position: relative;
font-size: 18px !important;
background: white;
padding-left: 30px;
border-bottom: 1px solid #DDD;}